#contacts-page {
  background: #FFFFFF;

  .contacts {
    display: flex;
    align-items: center;
    padding-top: 0;

    &__left {
      @include to(850px) {
        padding-top: 0;
      }
    }
  }
}
