#developer-page {
    .help-container {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
    }

    .developer {
        @include pageOffsetTop;

        &__block {
            border-bottom: 1px solid #ECEAE1;
        }

        &__wrap {
            padding-bottom: var(--scroll-features-offset);
            display: grid;
            grid-template-columns: 279px 635px;
            column-gap: 126px;

            @include to(1440px) {
              margin-left: 90px;
              grid-template-columns: 183px 593px;
              column-gap: 80px;
            }
        }

        &__content {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 30px;
        }

        &__title {
            @include page-big-text;
        }

        &__text {
            @include page-desc;
        }

        &__desc {
            max-width: 530px;

            @include to(1440px) {
              max-width: 370px;
            }
        }
    }

    .page-slider {
        padding-top: var(--scroll-features-offset);
    }
}
