#gallery-page {
  .page-top {
    position: relative;
  }

  .gallery {
    position: relative;
    margin-top: -11%;
    @media (min-width: 2000px) {
      margin-top: -17%;
    }

    @include to(1440px) {
      margin-top: -10%;
    }

    @include to(1025px) {
      margin-top: -7%;
    }

    @include to(480px) {
      margin-top: -8%;
    }
  }

  .page-top {
    margin-bottom: 0;
  }
}

.gallery {
  .swiper-slide {
    height: 100vh;
    position: relative;
    z-index: 10;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__controls {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 10;

    .container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  &__btn {
    position: static;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: all 0.4s;

    @include to(1440px) {
      width: 60px;
      height: 60px;
    }

    @include to(770px) {
      width: 50px;
      height: 50px;
    }

    @include to(480px) {
      width: 43px;
      height: 43px;
    }

    @include to(320px) {
      width: 40px;
      height: 40px;
    }

    svg {
      fill: none;
      width: 11px;
      height: 18px;
      stroke: $black;
      transition: all 0.4s;

      @include to(1440px) {
        width: 13px;
        height: 15px;
      }

      @include to(770px) {
        width: 13px;
        height: 13px;
      }

      @include to(480px) {
        width: 12px;
        height: 12px;
      }

      @include to(320px) {
        width: 10px;
        height: 10px;
      }
    }

    &::after {
      display: none;
    }

    &-next {
      svg {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background-color: $blue;

      svg {
        stroke: #fff;
      }
    }
  }

  &__info {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    justify-content: center;

    @include to(480px) {
      bottom: 30px;
    }

    &-block {
      position: static;
      width: auto;
      padding: 14px 24px;
      background: #ffffff;
      box-shadow: 0px 20px 30px rgba(226, 62, 40, 0.1);
      border-radius: 25px;
      font-size: 12px;
      font-weight: 700;
      line-height: 1em;

      @include to(1440px) {
        font-size: 10px;
      }

      @include to(850px) {
        font-size: 9px;
      }

      @include to(320px) {
        font-size: 8px;
      }

      .swiper-pagination-current {
        position: relative;
        padding-right: 15px;

        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 1px;
          width: 1px;
          bottom: 2px;
          font-family: inherit;
          font-size: 10px;
          font-weight: 700;
          line-height: 1em;
          background-color: $black;
          transform: rotate(25deg);
        }
      }

      .swiper-pagination-total {
        margin-left: 15px;
      }
    }
  }
}
