#index-page {
  background: linear-gradient(135.43deg, #fffdf3 0%, #f0eee3 99.99%);

  .header {
    .header__link {
      color: #fff;
    }

    .menu-btn {
      color: #fff;
    }

    &.move {
      .header__link {
        color: $black;
      }

      .menu-btn {
        color: $black;
      }
    }

    @include to(480px) {
      padding: 5px 0;
      height: calc(var(--page-header-h) - 25);
      background-color: rgba(236, 234, 225, 0.95);
    }
  }

  .main-slider {
    position: relative;

    &__wrap {
      position: absolute;
      top: 50%;
      width: 100%;
      color: #fff;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      white-space: nowrap;
      text-align: center;
      z-index: 50;

      @include to(700px) {
        display: none !important;
      }

      .main-slider__title {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        text-align: center;
        right: 0;
        opacity: 0;

        &:first-child {
          opacity: 1;
        }
      }

      img {
        @media (min-width: 1500px) {
          width: 548px;
          height: 94px;
        }

        @include to(1440px) {
          width: 342px;
          height: 55px;
          transform: translateY(12px);
        }

        @include to(1025px) {
          width: 320px;
          height: 45px;
          transform: translateY(10px);
        }

        @include to(850px) {
          width: 282px;
          height: 37px;
          transform: translateY(6px);
        }

        @include to(320px) {
          width: 270px;
        }
      }
    }

    &__content {
      margin-top: 100px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      color: #eceae1;
      text-align: center;

      @include to(1440px) {
        margin-top: 73px;
      }

      @include to(1025px) {
        margin-top: 67px;
      }

      @include to(850px) {
        margin-top: 55px;
      }

      @include to(700px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;

        .main-slider__title {
          margin-bottom: 10px;
          white-space: break-spaces;
        }

        img {
          width: 282px;
          height: 37px;
          transform: translateY(6px);
        }
      }

      @include to(320px) {
        width: 270px;
      }
    }

    &__title {
      font-size: 96px;
      letter-spacing: 0.15em;
      line-height: 1em;
      font-family: $default-font2;
      text-transform: uppercase;

      @include to(1440px) {
        font-size: 72px;
      }

      @include to(1025px) {
        font-size: 60px;
      }

      @include to(850px) {
        font-size: 48px;
      }

      @include to(575px) {
        font-size: 38px;
        margin-left: 25px;
        margin-right: 25px;
      }

      @include to(320px) {
        font-size: 36px;
      }

      &--img {
        margin-bottom: 15px;
        width: 554px;

        @include to(1440px) {
          width: 382px;
        }
      }
    }

    &__desc {
      font-family: $default-font2;
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 1em;
      text-transform: uppercase;

      @include to(1440px) {
        font-size: 18px;
      }

      @include to(575px) {
        font-size: 17px;
        margin-bottom: 32px;
      }

      @include to(320px) {
        font-size: 16px;
      }
    }

    &__link {
      font-size: 14px;
      line-height: 1em;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: inherit;
      text-decoration: none;
      display: inline-flex;
      align-items: center;

      @include to(1440px) {
        font-size: 12px;
      }

      &::before {
        background: #eceae1;
      }

      svg {
        margin-top: -1px;
        margin-left: 15px;
        width: 13px;
        height: 13px;
        transition: all 0.4s;
      }

      &:hover {
        svg {
          transform: translateX(5px);
        }
      }
    }

    &__logo {
      position: absolute;
      bottom: 56px;
      left: 72px;
      width: 140px;
      z-index: 10;

      @include to(1440px) {
        left: 50px;
        width: 110px;
      }

      @include to(770px) {
        width: 100px;
        bottom: 30px;
      }

      @include to(575px) {
        width: 85px;
        bottom: 60px;
        left: 25px;
      }

      @include to(320px) {
        width: 75px;
      }
    }

    &__more {
      z-index: 10;
      border-radius: 50%;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 60px;
      background-color: $black;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;

      @include to(1440px) {
        width: 42px;
        height: 42px;
      }

      @include to(770px) {
        width: 50px;
        height: 50px;
        bottom: 30px;
      }

      @include to(600px) {
        display: none;
      }

      svg {
        fill: none;
        stroke: #fff;
        width: 20px;
        height: 20px;
        animation: arrowDown 1.2s infinite linear;
        transition: all 0.4s;

        @include to(1440px) {
          width: 14px;
          height: 14px;
        }

        @include to(770px) {
          width: 17px;
          height: 17px;
        }
      }

      &:hover {
        background-color: $blue;
      }
    }

    .swiper-slide {
      position: relative;
      overflow: hidden;
      height: 100vh;
      transition-duration: 1ms !important;

      .swiper-slide-img {
        overflow: hidden;
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &::before {
          content: '';
          z-index: 1;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(42, 51, 65, 0.6);
        }
      }

      &-active {
        z-index: 3;
      }
    }
  }

  .intro {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    @include to(850px) {
      min-height: auto;
      padding-top: 150px;
      padding-bottom: 275px;
    }

    @include to(575px) {
      padding-top: 50px;
      padding-bottom: 110px;
    }

    @include to(320px) {
      padding-bottom: 70px;
    }

    &__link {
      margin-left: 90px;

      &--tablet {
        display: none;
      }

      @include to(992px) {
        margin-left: 50px;
      }

      @include to(900px) {
        &--tablet {
          display: inline-flex;
        }

        &--desk {
          display: none;
        }

        & {
          margin-left: 0 !important;
        }
      }

      @include to(770px) {
        margin-left: 34px;
      }
    }

    &__desc {
      @include to(900px) {
        margin-bottom: 20px;
      }
    }

    &__decor {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
      height: 415px;

      @include to(1440px) {
        width: 45vw;
        height: 56vh;
      }

      @include to(900px) {
        width: 38vw;
        height: 45vh;
        left: auto;
        transform: translateY(0);
        top: 150px;
        right: 25px;
      }

      @include to(770px) {
        width: 40vw;
        height: 37vh;
      }

      @include to(575px) {
        right: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 54vw;
        height: 45vh;
      }

      @include to(320px) {
        width: 62vw;
      }

      svg {
        width: 100%;
        height: 100%;
        fill: #fff;
      }
    }

    &__bottom-decor {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      svg {
        width: 100%;
      }

      &-mobile {
        display: none;
      }

      @include to(575px) {
        &-desk {
          display: none;
        }

        &-mobile {
          display: block;
        }
      }
    }

    &__content {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;

      @include to(900px) {
        justify-content: flex-start;
        flex-direction: column;
      }
    }

    &__left {
      width: 50%;
      margin-right: 140px;

      @include to(1150px) {
        margin-right: 70px;
      }

      @include to(900px) {
        margin-bottom: 30px;
      }

      @include to(575px) {
        margin-right: 0;
        margin-bottom: 20px;
        width: 70%;
      }
    }

    &__title {
      margin-bottom: 50px;

      @include to(1440px) {
        margin-bottom: 40px;
      }

      @include to(900px) {
        margin-bottom: 0;
      }
    }

    &__right {
      max-width: 481px;
      margin-right: 130px;

      @include to(1440px) {
        margin-right: 0;
        max-width: 423px;
        padding-right: 93px;
      }

      @include to(900px) {
        max-width: 343px;
        margin-left: 50px;
        padding-right: 0;
      }

      @include to(770px) {
        margin-left: 34px;
      }

      @include to(575px) {
        margin-left: 0;
      }
    }
  }

  .gallery {
    position: relative;

    @include to(770px) {
      padding: 0 30px;
    }

    @include to(600px) {
      background-color: #fff;
      padding: 50px 25px;
    }

    &__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 645px;
      column-gap: 4px;

      @include to(1400px) {
        height: 500px;
      }

      @include to(1100px) {
        height: 450px;
      }

      @include to(992px) {
        height: 350px;
      }

      @include to(770px) {
        height: 270px;
      }

      @include to(500px) {
        grid-template-columns: 1fr;
        height: 32vh;
      }

      @include to(320px) {
        height: 204px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
    }

    &__item {
      position: relative;

      @include to(500px) {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }

    &__info {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      width: 70vw;
      transform: translateY(50%);
      display: flex;
      justify-content: center;
      margin: 0 auto;

      @include to(1440px) {
        width: 68vw;
      }

      @include to(1100px) {
        width: 80vw;
      }

      @include to(830px) {
        width: calc(100vw - 128px);
      }

      @include to(760px) {
        width: calc(100vw - 60px);
      }

      @include to(600px) {
        position: static;
        transform: none;
      }

      &-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 70px 150px;
        background-color: #fff;

        @media (min-width: 2000px) {
          padding: 70px 15vw;
          justify-content: space-between;
        }

        @include to(1650px) {
          padding: 70px 100px;
        }

        @include to(1250px) {
          padding: 50px;
        }

        @include to(850px) {
          padding: 41px 50px;
        }

        @include to(600px) {
          padding: 0;
          margin-top: 20px;
        }
      }

      &-title {
        margin-right: 168px;

        &--mobile {
          display: none;
        }

        @include to(1280px) {
          margin-right: 80px;
        }

        @include to(700px) {
          margin-right: 30px;
          font-size: 40px;
        }

        @include to(600px) {
          &--desk {
            display: none;
          }

          &--mobile {
            display: block;
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .building-info {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;

    @include to(1250px) {
      margin-top: -50px;
    }

    @include to(1015px) {
      min-height: 92vh;
    }

    @include to(850px) {
      .container {
        padding-left: 64px !important;
      }
    }

    @include to(600px) {
      min-height: auto;
      margin-top: 0;
      padding-top: 57px;
      padding-bottom: 180px;

      .container {
        padding-left: 25px !important;
      }
    }

    @include to(320px) {
      padding-bottom: 150px;
    }

    &__decor {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      @include to(600px) {
        img {
          display: none;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .container {
      width: 100%;
    }

    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @include to(600px) {
        flex-wrap: wrap;
      }
    }

    &__list {
      width: 70%;
      margin-right: 23px;
      display: flex;

      @include to(1015px) {
        display: grid;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 50px;
        width: auto;
      }

      @include to(600px) {
        margin-bottom: 50px;
        width: 100%;
        margin-right: 0;
        row-gap: 20px;
      }
    }

    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 82px;
      margin-right: 82px;

      &:last-child {
        margin-right: 0;
      }

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        right: 0;
        top: 9px;
        bottom: 9px;
        background-color: #dfdcce;
      }

      &:not(:last-child) {
        @include to(1650px) {
          padding-right: 72px;
          margin-right: 72px;
        }

        @include to(1250px) {
          padding-right: 40px;
          margin-right: 40px;
        }

        @include to(1025px) {
          padding-right: 30px;
          margin-right: 30px;
        }
      }

      @include to(1650px) {
        &::before {
          top: 7px;
          bottom: 7px;
        }

        &:last-child {
          padding-right: 0;
          margin-right: 0;

          &::before {
            display: none;
          }
        }
      }

      @include to(1015px) {
        align-items: flex-start;

        &:not(:last-child) {
          padding-right: 0;
          margin-right: 0;

          &::before {
            display: none;
          }
        }
      }

      @include to(600px) {
        width: 100%;
        display: grid;
        grid-template-columns: 130px 110px;
        justify-content: space-between;
        align-items: center;
      }

      @include to(480px) {
        grid-template-columns: 130px 83px;
      }
    }

    &-title {
      margin-bottom: 20px;
      font-size: 20px;
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: center;
      font-family: $default-font2;

      @include to(1015px) {
        text-align: left;
        margin-bottom: 15px;
        font-size: 18px;
      }

      @include to(770px) {
        font-size: 16px;
      }

      @include to(600px) {
        font-size: 18px;
        text-align: left;
        margin-bottom: 0;
      }
    }

    &-value {
      font-size: 82px;
      line-height: 0.9em;
      font-family: $default-font2;

      @include to(1250px) {
        font-size: 60px;
      }

      @include to(850px) {
        font-size: 64px;
      }

      @include to(600px) {
        font-size: 52px;
      }

      @include to(480px) {
        font-size: 40px;
      }

      @include to(320px) {
        font-size: 36px;
      }
    }

    &-tabs {
      min-width: 477px;

      @include to(1600px) {
        min-width: 334px;
      }

      @include to(1015px) {
        .building-info-title {
          margin-bottom: 27px;
        }
      }

      @include to(600px) {
        min-width: auto;
        width: 100%;

        .building-info-title {
          text-align: center;
        }
      }

      &__block {
        @include to(1015px) {
          display: flex;
          min-width: auto;
        }
      }

      &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(62px, 1fr));
        column-gap: 6px;
        row-gap: 12px;

        @include to(1015px) {
          grid-template-columns: 1fr;
          row-gap: 8px;
        }
      }

      &__wrap {
        width: 100%;
        background-color: #fff;
        padding: 27px;

        @include to(1015px) {
          display: flex;
          align-items: center;
        }

        @include to(600px) {
          order: -1;
          justify-content: center;
          padding: 10px;
        }
      }

      &__content {
        font-family: $default-font2;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        line-height: 0.9em;
        text-align: center;
      }
    }

    &__tab {
      border: none;
      background-color: $black;
      padding: 14px 10px;
      font-size: 12px;
      line-height: 1em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      width: 100%;
      color: #fff;
      cursor: pointer;
      transition: all 0.4s;

      @include to(1440px) {
        padding: 10px;
        font-size: 9px;
      }

      @include to(1015px) {
        font-size: 12px;
        width: 120px;
        height: 60px;
        text-align: center;
      }

      @include to(600px) {
        width: 95px;
        height: auto;
        padding: 13px 0;
        font-size: 11px;
      }

      @include to(320px) {
        font-size: 10px;
        width: 88px;
        height: auto;
        padding: 10px 0;
      }

      &-block {
        padding-bottom: 10px;

        @include to(1440px) {
          padding-bottom: 5px;
        }

        @include to(1015px) {
          padding-bottom: 0;
          padding-right: 5px;
        }

        @media (min-width: 600px) and (max-width: 770px) {
          &:nth-child(1) {
            order: 10;
          }

          &:nth-child(2) {
            order: 9;
          }

          &:nth-child(3) {
            order: 8;
          }

          &:nth-child(4) {
            order: 7;
          }

          &:nth-child(5) {
            order: 6;
          }
        }

        @include to(600px) {
          padding-right: 0;
        }

        &.show {
          background-color: #fff;

          .building-info__tab {
            background-color: #fff;
            color: $black;
          }
        }
      }

      &:hover {
        background-color: $red;
      }
    }
  }

  .yard {
    display: flex;
    align-items: center;
    background: url('../images/yard-bg.jpg') no-repeat center/cover;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        90deg,
        #2a3341 0%,
        rgba(42, 51, 65, 0.9) 36.2%,
        rgba(42, 51, 65, 0) 100%
      );
    }

    .container {
      position: relative;
      z-index: 2;
      width: 100%;
      color: #fff;
    }

    &__title {
      margin-bottom: 60px;
      font-family: $default-font2;
      font-size: 66px;
      line-height: 0.9em;
      color: #eceae1;
      text-transform: uppercase;
      max-width: 670px;

      @include to(1440px) {
        max-width: 600px;
        font-size: 64px;
        margin-bottom: 50px;
      }

      @include to(992px) {
        font-size: 52px;
        margin-bottom: 31px;
      }

      @include to(770px) {
        font-size: 40px;
        max-width: 385px;
      }

      @include to(600px) {
        font-size: 34px;
        max-width: 300px;
        margin-bottom: 21px;
      }

      @include to(320px) {
        font-size: 30px;
        max-width: 265px;
      }

      span {
        display: inline-block;
      }

      &-mark {
        margin-left: 0;
        -webkit-text-stroke: 1px #efbc48;
        color: transparent;
      }
    }

    &__desc {
      max-width: 410px;
      margin-left: 90px;

      @include to(992px) {
        margin-left: 50px;
      }

      @include to(770px) {
        margin-left: 34px;
      }

      @include to(600px) {
        margin-left: 0;
      }
    }
  }

  .features {
    position: relative;

    @include to(1440px) {
      padding: 0;
    }

    @include to(1100px) {
      .features__content {
        padding-right: 0;
      }

      .features__container {
        min-height: 100vh;
        display: flex;
        align-items: center;
      }
    }

    @include to(700px) {
      min-height: auto;
      padding-top: 100px;
      padding-bottom: 50px;
    }

    &__decor {
      position: absolute;
      top: 0;
      transform: translate(-50%, -50%);
      left: 50%;
      width: 200px;
      height: 200px;
      background-color: #fff;
      border-radius: 50%;
      padding: 5px;
      margin: 0 auto;

      @include to(1440px) {
        width: 150px;
        height: 150px;
      }

      @include to(600px) {
        width: 110px;
        height: 110px;
      }

      @include to(320px) {
        width: 100px;
        height: 100px;
      }
    }

    &__container {
      padding-left: 159px;
      padding-right: 235px;

      @include to(1440px) {
        align-items: flex-start;
        min-height: auto;
        padding-left: 50px;
        padding-right: 50px;
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 623px 667px;
      width: 100%;
      justify-content: space-between;
      column-gap: 80px;
      align-items: center;

      @include to(1440px) {
        min-height: auto;
        align-items: flex-start;
        padding-right: 0;
      }

      @include to(1200px) {
        min-height: auto;
        align-items: stretch;
        grid-template-columns: 1fr 1fr;
      }

      @include to(1150px) {
        column-gap: 50px;
      }

      @include to(992px) {
        column-gap: 45px;
      }

      @include to(850px) {
        grid-template-columns: 1fr minmax(280px, 332px);
      }

      @include to(700px) {
        grid-template-columns: 1fr;
      }
    }

    &__left {
      img {
        object-fit: cover;
        max-height: 750px;
        height: 100%;

        @include to(1025px) {
          min-height: 402px;
          height: 100%;
        }

        @include to(700px) {
          min-height: auto;
          height: 50vh;
          margin-bottom: 30px;
        }

        @include to(320px) {
          height: 302px;
        }
      }
    }

    &__title {
      margin-bottom: 50px;

      @include to(770px) {
        margin-bottom: 31px;
      }

      @include to(700px) {
        max-width: 350px;
        margin-bottom: 21px;
      }
    }

    &__wrap {
      width: 481px;
      margin-left: 90px;

      @include to(1440px) {
        max-width: 330px;
      }

      @include to(992px) {
        margin-left: 50px;
      }

      @include to(850px) {
        width: auto;
      }

      @include to(770px) {
        margin-left: 34px;
      }

      @include to(700px) {
        margin-left: 0;
      }
    }

    &__desc {
      margin-bottom: 30px;

      @include to(1440px) {
        margin-bottom: 20px;
      }

      @include to(575px) {
        font-size: 13px;
      }

      @include to(320px) {
        font-size: 12px;
      }
    }
  }

  .complex {
    position: relative;
    height: 150vh;

    @include to(850px) {
      height: 100vh;
    }

    @include to(700px) {
      height: auto;
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url('../images/home-complex-bg.jpg') no-repeat center/cover;

      @include to(700px) {
        top: auto;
        height: 75vh;
      }

      @include to(340px) {
        height: 77vh;
      }
    }

    &__content {
      position: relative;
      padding-top: 180px;
      padding-bottom: 220px;

      @include to(1750px) {
        padding-top: 150px;
      }

      @include to(1440px) {
        padding-bottom: 90px;
      }

      @include to(1150px) {
        padding-top: 100px;
      }

      @include to(850px) {
        padding-top: 170px;
        padding-bottom: 160px;
      }

      @include to(700px) {
        padding-top: 50px;
        padding-bottom: 400px;
      }

      @include to(375px) {
        padding-bottom: 340px;
      }

      @include to(320px) {
        padding-bottom: 260px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          180deg,
          #ffffff 0%,
          rgba(255, 255, 255, 0.8) 51.04%,
          rgba(255, 255, 255, 0) 100%
        );

        @include to(700px) {
          bottom: auto;
          height: 80%;
        }

        @include to(320px) {
          height: 85%;
        }
      }

      .container {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include to(1150px) {
          justify-content: center;
        }

        @include to(850px) {
          flex-wrap: nowrap;
        }

        @include to(700px) {
          flex-wrap: wrap;
        }

        @include to(575px) {
          justify-content: flex-start;
        }
      }
    }

    &__title {
      @include to(850px) {
        font-size: 47px;
      }

      @include to(770px) {
        margin-bottom: 20px;
        font-size: 40px;
      }

      @include to(375px) {
        max-width: 93%;
      }

      @include to(320px) {
        font-size: 36px;
      }
    }

    &__link {
      &--tablet {
        display: none;
      }

      @include to(770px) {
        &--desk {
          display: none;
        }

        &--tablet {
          display: inline-flex;
          margin-left: 34px;
        }
      }

      @include to(700px) {
        &--tablet {
          display: none;
        }

        &--desk {
          display: inline-flex;
        }
      }
    }

    &__left {
      max-width: 800px;

      @include to(1440px) {
        max-width: 600px;
      }

      @include to(1150px) {
        margin-bottom: 30px;
      }

      @include to(770px) {
        max-width: 332px;
      }

      @include to(700px) {
        margin-bottom: 4px;
      }
    }

    &__right {
      max-width: 612px;

      @include to(1750px) {
        margin-top: 35px;
      }

      @include to(1440px) {
        margin-top: 0;
        max-width: 423px;
      }

      @include to(1150px) {
        max-width: 600px;
        padding-left: 90px;
      }

      @include to(992px) {
        padding-left: 50px;
      }

      @include to(850px) {
        max-width: none;
        width: 300px;
        padding-left: 0;
        margin-left: 50px;
      }

      @include to(575px) {
        margin-left: 0;
        width: auto;
      }
    }

    &__desc {
      margin-bottom: 30px;

      @include to(1440px) {
        margin-bottom: 20px;
      }

      @include to(575px) {
        font-size: 13px;
      }

      @include to(320px) {
        font-size: 12px;
      }
    }
  }

  .infra {
    background-color: $black;

    &__top {
      color: #eceae1;
      padding-top: 170px;
      padding-bottom: 57px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include to(1440px) {
        padding-top: 150px;
        padding-bottom: 30px;
      }

      @include to(1050px) {
        padding-top: 100px;
        justify-content: center;
      }

      @include to(850px) {
        padding-top: 170px;
        padding-bottom: 15px;
        flex-wrap: nowrap;
      }

      @include to(700px) {
        flex-wrap: wrap;
        padding-top: 50px;
      }

      @include to(575px) {
        justify-content: flex-start;
      }
    }

    &__img {
      min-height: auto;
      height: 100vh;

      @include to(850px) {
        height: 60vh;
      }

      @include to(700px) {
        height: 46vh;
      }

      @include to(320px) {
        height: 300px;
      }

      img {
        height: 100%;
      }
    }

    &__title {
      font-family: $default-font2;
      font-size: 64px;
      line-height: 0.9em;
      max-width: 670px;
      color: #eceae1;
      text-transform: uppercase;

      @include to(1440px) {
        max-width: 630px;
      }

      @include to(1050px) {
        margin-bottom: 30px;
      }

      @include to(850px) {
        font-size: 47px;
      }

      @include to(770px) {
        font-size: 40px;
      }

      @include to(575px) {
        font-size: 34px;
      }

      @include to(320px) {
        font-size: 30px;
      }

      .infra__title-mark {
        margin-left: 0;
        color: transparent;
        font-style: italic;
        -webkit-text-stroke: 1px #efbc48;
      }
    }

    &__content {
      max-width: 612px;

      @include to(1440px) {
        max-width: 423px;
      }

      @include to(1050px) {
        max-width: 500px;
        margin-left: 90px;
      }

      @include to(992px) {
        margin-left: 50px;
      }

      @include to(850px) {
        margin-left: 80px;
      }

      @include to(700px) {
        max-width: 100%;
        margin-left: 0;
      }
    }

    &__desc {
      line-height: 1.6em;

      &:not(:last-child) {
        margin-bottom: 20px;

        @include to(575px) {
          font-size: 13px;
          margin-bottom: 10px;
        }

        @include to(320px) {
          font-size: 12px;
        }
      }
    }

    &__img {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 40vh;
        background: linear-gradient(180deg, #2a3341 0%, rgba(42, 51, 65, 0) 100%);

        @include to(700px) {
          height: 100%;
        }
      }

      img {
        object-fit: cover;
      }

      @include to(700px) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  .location {
    @include to(700px) {
      padding-top: 50px;

      .features__container {
        min-height: auto;
      }
    }

    .features__content {
      padding-right: 0;
      column-gap: 236px;
      align-items: center;

      @include to(1440px) {
        column-gap: 80px;
      }

      @include to(1250px) {
        padding-right: 50px;
      }

      @include to(1100px) {
        padding-right: 50px;
      }

      @include to(850px) {
        column-gap: 40px;
        padding-right: 0;
        align-items: center;
      }
    }
  }
}
