#index-page {
    background: linear-gradient(135.43deg, #FFFDF3 0%, #F0EEE3 99.99%);

    .main-slider {
        position: relative;

        &__content {
            position: absolute;
            top: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            color: #ECEAE1;
        }

        &__title {
            font-size: 72px;
            line-height: 1em;
            font-family: $default-font2;
            text-transform: uppercase;
            display: none;

            &--img {
                display: block;
                margin-bottom: 15px;
                width: 382px;
            }
        }

        &__desc {
            font-family: $default-font2;
            margin-bottom: 40px;
            font-size: 18px;
            line-height: 1em;
            text-transform: uppercase;
        }

        &__link {
            font-size: 12px;
            line-height: 1em;
            font-weight: 500;
            text-transform: uppercase;
            color: inherit;
            text-decoration: none;
            display: inline-flex;
            align-items: center;

            &::before {
                background: #ECEAE1;
            }
            
            svg {
                margin-top: -1px;
                margin-left: 15px;
                width: 13px;
                height: 13px;
                transition: all .4s;
            }

            &:hover {
                svg {
                    transform: translateX(5px);
                }
            }
        }

        &__logo {
            position: absolute;
            bottom: 56px;
            left: 72px;
            width: 110px;
            z-index: 10;

            @include to(1370px) {
                left: 50px;
            }
        }

        &__more {
            z-index: 10;
            border-radius: 50%;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: 42px;
            height: 42px;
            background-color: $black;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: none;
                width: 14px;
                height: 14px;
                animation: arrowDown 1.2s infinite linear;
            }
        }

        .swiper-slide {
            position: relative;
            height: 100vh;
            background-position: center;
            background-size: cover;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(42, 51, 65, 0.6);
            }

            &-active {
                z-index: 3;
                clip-path: circle(80% at 50% 50%);
            }
        }
    }

    .intro {
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;

        &__decor {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 45vw;
            height: 56vh;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &__bottom-decor {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            svg {
                width: 100%;
            }
        }

        &__content {
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: space-between;
        }

        &__left {
            width: 50%;
            margin-right: 140px;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__right {
            max-width: 423px;
            padding-right: 100px;
        }
    }

    .gallery {
        &__wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 650px;

            @include to(500px) {
                height: 500px;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }

        &__item {
            position: relative;
        }

        &__info {
            transform: translateY(-50%);
            display: flex;
            justify-content: center;

            &-wrap {
                display: flex;
                align-items: center;
                padding: 70px;
                background-color: #fff;
            }

            &-title {
                margin-right: 168px;
            }
        }
    }

    .building-info {
        position: relative;
        display: flex;
        align-items: center;
        padding-bottom: 300px;

        &__decor {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .container {
            width: 100%;
        }

        &__wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        
        &__list {
            width: 70%;
            margin-right: 23px;
            display: flex;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                border-right: 1px solid #DFDCCE;
                padding-right: 72px;
                margin-right: 72px;
            }
        }

        &-title {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 1.2em;
            text-transform: uppercase;
            font-family: $default-font2;
        }

        &-value {
            font-size: 82px;
            line-height: 0.9em;
            font-family: $default-font2;
        }

        &-tabs {
            min-width: 334px;

            &__list {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(62px, 1fr));
                column-gap: 6px;
                row-gap: 12px;
            }

            &__wrap {
                width: 100%;
                background-color: #fff;
                padding: 27px;
            }

            &__content {
                font-family: $default-font2;
                text-transform: uppercase;
                text-align: center;
                font-size: 18px;
                line-height: 0.9em;
                text-align: center;
            }
        }

        &__tab {
            border: none;
            background-color: $black;
            padding: 10px;
            font-size: 9px;
            line-height: 1em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            width: 100%;
            color: #fff;
            cursor: pointer;
            transition: all .4s;

            &-block {
                padding-bottom: 5px;

                &.show {
                    background-color: #fff;

                    .building-info__tab {
                        background-color: #fff;
                        color: $black;
                    }
                }
            }

            &:hover {
                background-color: $red;
            }
        }
    }

    .yard {
        display: flex;
        align-items: center;
        background: url('../images/yard-bg.jpg') no-repeat center/cover;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(90deg, #2A3341 0%, rgba(42, 51, 65, 0.9) 36.2%, rgba(42, 51, 65, 0) 100%);
        }

        .container {
            position: relative;
            z-index: 2;
            width: 100%;
            color: #fff;
        }

        &__title {
            margin-bottom: 50px;
            font-family: $default-font2;
            font-size: 64px;
            line-height: 0.9em;
            color: #ECEAE1;
            text-transform: uppercase;
        }

        &__desc {
            max-width: 330px;
            margin-left: 90px;
        }
    }

    .features {
        position: relative;

        // @include to(1440px) {
        //     padding-top: 130px;
        // }

        &__decor {
            transform: translateY(-50%);
            width: 150px;
            height: 150px;
            background-color: #fff;
            border-radius: 50%;
            padding: 5px;
            margin: 0 auto;
        }

        &__container {
            display: flex;
            align-items: center;
        }

        &__content {
            display: grid;
            grid-template-columns: 3fr 1fr;
            column-gap: 80px;
            align-items: center;
            min-height: calc(100vh - 150px);
            padding-right: 60px;
        }

        &__left {
            img {
                object-fit: cover;
                max-height: 750px;

                @include to(1440px) {
                    height: 83vh;
                }
            }
        }

        &__title {
            margin-bottom: 50px;
        }

        &__wrap {
            width: 330px;
            margin-left: 90px;
        }

        &__desc {
            margin-bottom: 20px;
        }
    }

    .complex {
        position: relative;
        height: 150vh;

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('../images/home-complex-bg.jpg') no-repeat center/cover;
        }

        &__content {
            position: relative;
            padding-top: 150px;
            padding-bottom: 90px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.8) 51.04%, rgba(255, 255, 255, 0) 100%);
            }

            .container {
                position: relative;
                z-index: 2;
                display: flex;
                justify-content: space-between;
            }
        }

        &__left {
            max-width: 600px;
        }

        &__right {
            max-width: 423px;
        }

        &__desc {
            margin-bottom: 20px;
        }
    }

    .infra {
       background-color: $black;
       
       &__top {
           color: #ECEAE1;
           padding-top: 150px;
           padding-bottom: 30px;
           display: flex;
           justify-content: space-between;
       }

       &__title {
           font-family: $default-font2;
           font-size: 64px;
           line-height: 0.9em;
           max-width: 500px;
           text-transform: uppercase;

           span {
               color: transparent;
               font-style: italic;
               -webkit-text-stroke: 1px #EFBC48;
           }
       }

       &__content {
           max-width: 423px;
       }

       &__desc {
        font-size: 14px;
        line-height: 1.4em;

           &:not(:last-child) {
               margin-bottom: 20px;
           }
       }

       &__img {
           &::before {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               right: 0;
               height: 40vh;
               background: linear-gradient(180deg, #2A3341 0%, rgba(42, 51, 65, 0) 100%);
           }

           img {
               object-fit: cover;
           }
       }
    }

    .location {
        .features__content {
            padding-right: 130px;
        }
    }
}