#investor-page {
    .block-with-img__title {
        margin-bottom: 100px;
    }

    .block-with-img {
        padding-bottom: 150px;

        &--bg {
            background-color: $black;
            padding: 150px 0;

            .block-with-img__text {
                color: #ECEAE1;
            }
    
            .block-with-img__desc {
                color: #A0A6AE;
            }
        }

        .block-with-img__content {
            max-width: 612px;

            @include to(1440px) {
                max-width: 513px;
            }
        }
    }

    .block-with-img__wrap {
        justify-content: space-between;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        column-gap: 116px;

        @include to(1440px) {
            column-gap: 80px;
        }

        @include to(1200px) {
            grid-template-columns: 1fr 1fr 
        }
    }

    .block-with-img__text {
        @include page-desc;
    }

    .block-with-img__desc {
        font-size: 18px;
        max-width: 350px;

        @include to(1440px) {
            font-size: 16px;
            max-width: 313px;
        }
    }

    .investor {
        &__item {
            padding: 120px 0;
            position: relative;

            @include to(1440px) {
                padding: 150px 0;
            }

            .container {
                position: relative;
                z-index: 2;
            }

            &-wrap {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                column-gap: 116px;
                align-items: center;

                img {
                    max-height: 438px;
                    object-fit: cover;
                }

                @include to(1440px) {
                    column-gap: 80px;
                    grid-template-columns: 513px 513x;

                    img {
                        max-height: 400px;
                    }
                }

                @include to(1200px) {
                    grid-template-columns: 1fr 1fr;
                }
            }

            &-desc {
                @include page-desc;
            }

            &-title {
                @include page-big-text;
                margin-bottom: 20px;
                color: #ECEAE1;
            }

            &-decor {
                position: absolute;
                bottom: 0;
                width: 100%;
            }

            &--with-logo {
                background-color: $black;
                padding: 120px 0;
                color: #ECEAE1;

                @include to(1440px) {
                    padding: 110px 0;
                }

                .investor__item-decor {
                    width: auto;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    bottom: 0;
                    transform: translateX(-50%);
                }

                .investor__item-desc {
                    color: #A0A6AE;
                    max-width: 370px;
                    font-size: 18px;

                    @include to(1440px) {
                        font-size: 16px;
                    }
                }
            }

            &.block-with-img--reverse {
                .investor__item-content {
                    max-width: 536px;
                }
            }

            &.investor__item--with-logo {
                @media (min-width: 1500px) {
                    .investor__item-desc {
                        max-width: 536px;
                    }
                }
            }
        }

        &__bottom {
            padding: 150px 0;

            @media(min-width: 1500px) {
                padding-top: 120px;
                @include pageOffsetTop;
            }

            &-wrap {
                margin-bottom: 100px;
                display: grid;
                grid-template-columns: 536px 420px;
                column-gap: 323px;

                @include to(1440px) {
                    grid-template-columns: 513px 370px;
                    column-gap: 80px;
                }

                @include to(1200px) {
                    grid-template-columns: 1fr 0.7fr;
                }
            }

            &-left {
                @media(min-width: 1500px) {
                    font-size: 26px;
                    line-height: 1.6em;
                }
            }

            &-title {
                @include page-big-text;
                margin-bottom: 50px;
                max-width: 100%;

                @media(min-width: 1500px) {
                    max-width: 1470px;
                }
            }

            &-block {
                margin-right: 230px;
                display: flex;
                justify-content: flex-end;

                @media(min-width: 1500px) {
                    max-width: 73%;
                    margin-right: 0;
                }
            }
        }
    }
}