#location-page {
  .page-slider {
    margin-bottom: 57px;

    @include to(1440px) {
      margin-bottom: 47px;
    }
  }

  .location {
    @include pageOffsetTop;

    &__intro {
      &-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--scroll-features-offset);

        &-content {
          margin-right: 130px;

          @include to(1440px) {
            max-width: 870px;
            margin-right: 38px;
          }
        }

        svg {
          fill: #ECEAE1;
          height: 186px;
          min-width: 170px;

          @include to(1440px) {
            height: 235px;
            min-width: 200px;
          }

          @include to(850px) {
            height: 162px;
            min-width: 166px;
          }
        }

        &-text {
          @include page-desc;

          @include to(850px) {
            max-width: 332px;
          }
        }
      }

      &-content {
        @include to(850px) {
          max-width: 250px;
        }
      }

      &-wrap {
        justify-content: space-between;
        align-items: center;
        display: grid;
        column-gap: 80px;
        grid-template-columns: 536px 743px;
        margin-bottom: var(--scroll-features-offset);

        @include to(1440px) {
          grid-template-columns: 370px 513px;
        }

        @include to(1025px) {
          grid-template-columns: repeat(2, 1fr);
          column-gap: 46px;
        }

        @include to(850px) {
          margin-bottom: 83px;
        }

        &--reverse {
          margin-bottom: 0;
          grid-template-columns: 801px 536px;

          @include to(1440px) {
            grid-template-columns: 553px 423px;
          }

          @include to(1100px) {
            grid-template-columns: repeat(2, 1fr);
          }

          @include to(850px) {
            .location__intro-content {
              max-width: 332px;

              .location__intro-text {
                max-width: 244px;
                width: auto;
                margin-bottom: 40px;
              }
            }
          }

          img {
            order: -1;
          }

          .location__intro-text {
            max-width: 350px;
          }
        }

        img {
          max-height: var(--max-img-height);
          object-fit: cover;
        }
      }

      &-desc {
        margin-bottom: 20px;
        @include page-desc;

        @include to(850px) {
          margin-bottom: 25px;
        }
      }

      &-text {
        margin-bottom: 52px;
        width: auto;

        @include to(1440px) {
          width: 280px;
        }
      }
    }

    @include to(850px) {
      .page-slider__title {
        max-width: 531px;
      }
    }

    &__title {
      margin-bottom: 20px;
      @include page-big-text;

      @include to(1440px) {
        max-width: 870px;
      }

      @include to(1025px) {
        font-size: 35px;
      }

      @include to(850px) {
        font-size: 26px;
      }

      &--correct {
        margin-bottom: var(--scroll-features-offset);

        @include to(850px) {
          max-width: 450px;
        }
      }
    }
  }
}
