#progress-page {
  .gallery__info {
    position: static;
    margin-top: 30px;

    @include to(1025px) {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .progress {
    @include pageOffsetTop;

    &__wrap {
      position: relative;
      display: grid;
      align-items: flex-start;
      grid-template-columns: 230px 1fr;
      column-gap: 110px;

      @include to(1440px) {
        grid-template-columns: 180px 1fr;
        column-gap: 100px;
      }

      @include to(1100px) {
        column-gap: 70px;
      }

      @include to(650px) {
        justify-content: space-between;
        grid-template-columns: 1fr;
      }
    }

    .progress__filters {
      position: sticky;
      top: 170px;
      left: 0;
      font-size: 16px;
      line-height: 1em;
      letter-spacing: 0.05em;
      z-index: 2;

      @include to(1440px) {
        font-size: 14px;
      }

      @include to(850px) {
        top: 135px;
      }

      @include to(650px) {
        top: 0;
        position: relative;
      }

      &-wrap {
        display: flex;
        align-items: flex-start;

        @include to(650px) {
          justify-content: space-between;
          margin-bottom: 20px;
          align-items: center;
        }
      }

      &-year {
        cursor: pointer;
        position: relative;
        margin-right: 30px;

        @include to(650px) {
          margin-right: 0;
        }

        &-current {
          display: flex;
          align-items: center;
          color: $blue;

          svg {
            margin-right: 10px;
            width: 17px;
            height: 20px;
            fill: $blue;
          }
        }

        &-dropdown {
          border-radius: 5px;
          position: absolute;
          top: 25px;
          left: 15px;
          width: 100%;
          padding: 0 10px;
          background-color: #fff;
          max-height: 0px;
          overflow: hidden;
          transition: all 0.4s;
        }

        &-item {
          transition: all 0.4s;
          cursor: pointer;

          &.active {
            color: $blue;
          }

          &:not(:last-child) {
            margin-bottom: 14px;
          }

          &:hover {
            color: $blue;
          }
        }

        &:hover {
          .progress__filters-year-dropdown {
            max-height: 250px;
            padding: 12px 10px;
          }
        }
      }

      &-block {
        position: relative;

        @include to(650px) {
          order: -1;
        }

        &:hover {
          .progress__filters-month-current {
            color: $blue;

            svg {
              transform: rotate(180deg);
            }
          }

          .progress__filters-months {
            padding-top: 10px;
            padding-bottom: 10px;
            height: 300px;
            pointer-events: initial;
          }
        }
      }

      &-months {
        @include to(650px) {
          position: absolute;
          top: 22px;
          left: -10px;
          background-color: #fffdf3;
          padding: 10px 0;
          padding-right: 10px;
          padding-top: 0;
          padding-bottom: 0;
          height: 0;
          max-height: 300px;
          pointer-events: none;
          transition: all 0.5s;

          &::-webkit-scrollbar {
            width: 2px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
          }

          &-wrap {
            overflow-y: scroll;
            height: 100%;
            padding-left: 10px;
            padding-right: 18px;

            &::-webkit-scrollbar {
              width: 2px;
              border-radius: 2px;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 2px;
              background-color: #eceae1;
            }
          }
        }
      }

      &-month {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        transition: all 0.4s;

        @include to(650px) {
          padding-left: 0;
        }

        &-current {
          display: none;

          @include to(650px) {
            position: relative;
            z-index: 5;
            cursor: pointer;
            display: flex;
            align-items: center;
            transition: all 0.4s;

            svg {
              width: 14px;
              height: 5px;
              margin-left: 5px;
              transition: all 0.4s;
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 15px;

          @include to(650px) {
            padding-left: 0;
          }
        }

        svg {
          position: absolute;
          left: 0;
          top: -4px;
          width: 17px;
          height: 20px;
          transition: all 0.4s;
          opacity: 0;

          @include to(650px) {
            display: none;
          }
        }

        .progress__filters-month-decor {
          display: none;

          @include to(650px) {
            display: block;
            position: static;
            width: 14px;
            height: 5px;
            left: auto;
            right: 0;
            order: 1;
            margin-left: 5px;
          }
        }

        @include to(650px) {
          display: flex;
          align-items: center;
        }

        &.active {
          color: $blue;

          svg {
            opacity: 1;
            fill: $blue;
          }
        }

        &.disabled {
          color: #88889d;
          pointer-events: none;
        }

        &:hover {
          color: $blue;

          svg {
            opacity: 1;
            fill: $blue;
          }
        }
      }
    }

    &__gallery {
      width: 100%;
      margin-left: auto;
      order: 1;
      display: flex;
      flex-wrap: wrap;

      @include to(900px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
      }

      @include to(480px) {
        grid-template-columns: 1fr;
        row-gap: 20px;
      }

      &-item {
        width: 30%;
        margin-bottom: 20px;
        margin-right: 20px;
        height: 426px;
        cursor: pointer;
        overflow: hidden;

        @include to(1440px) {
          height: 280px;
        }

        @include to(1025px) {
          height: 250px;
        }

        @include to(900px) {
          width: 100%;
          margin: 0;
          height: 230px;
        }

        @include to(770px) {
          height: 200px;
        }

        @include to(650px) {
          height: 250px;
        }

        @include to(480px) {
          height: 42vh;
        }

        @include to(375px) {
          height: 44vh;
        }

        @include to(320px) {
          height: 270px;
        }

        &:nth-child(2n) {
          margin: 0;
        }

        @media (min-width: 910px) {
          &:first-child,
          &:nth-child(4n),
          &:nth-child(5n) {
            width: calc(70% - 20px);
          }
        }

        @include to(900px) {
          &:first-child,
          &:nth-child(3n + 4) {
            width: 100%;
            margin-right: 0;
            grid-column: 1/3;
          }
        }

        @include to(480px) {
          &:first-child,
          &:nth-child(3n + 4) {
            grid-column: 1;
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.6s;
        }

        &:hover {
          img {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
