#progress-page {

  .gallery__info {
    position: static;
    margin-top: 30px;

    @include to(1025px) {
        margin-top: 0;
        margin-bottom: 30px;
    }
  }

  .progress {
        @include pageOffsetTop;

        &__wrap {
            position: relative;
            display: grid;
            align-items: flex-start;
            grid-template-columns: 230px 1fr;
            column-gap: 110px;

            @include to(1440px) {
              grid-template-columns: 180px 1fr;
              column-gap: 100px;
            }

            @include to(1100px) {
                column-gap: 70px;
            }
        }

        .progress__filters {
            position: sticky;
            top: 170px;
            left: 0;
            font-size: 16px;
            line-height: 1em;
            letter-spacing: 0.05em;
            z-index: 2;

            @include to(1440px) {
                font-size: 14px;
            }

            @include to(850px) {
                top: 135px;
            }

            &-wrap {
                display: flex;
                align-items: flex-start;
            }

            &-year {
                cursor: pointer;
                position: relative;
                margin-right: 30px;

                &-current {
                    display: flex;
                    align-items: center;
                    color: $blue;

                    svg {
                        margin-right: 10px;
                        width: 17px;
                        height: 20px;
                        fill: $blue;
                    }
                }

                &-dropdown {
                    border-radius: 5px;
                    position: absolute;
                    top: 25px;
                    left: 15px;
                    width: 100%;
                    padding: 0 10px;
                    background-color: #fff;
                    max-height: 0px;
                    overflow: hidden;
                    transition: all .4s;
                }

                &-item {
                    transition: all .4s;
                    cursor: pointer;

                    &.active {
                        color: $blue;
                    }

                    &:not(:last-child) {
                        margin-bottom: 14px;
                    }

                    &:hover {
                        color: $blue
                    }
                }

                &:hover {
                    .progress__filters-year-dropdown {
                        max-height: 250px;
                        padding: 12px 10px;
                    }
                }
            }

            &-month {
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                transition: all .4s;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }

                svg {
                    position: absolute;
                    left: 0;
                    top: -4px;
                    width: 17px;
                    height: 20px;
                    transition: all .4s;
                    opacity: 0;
                }

                &.active {
                    color: $blue;
                    
                    svg {
                        opacity: 1;
                        fill: $blue;
                    }
                }

                &.disabled {
                    color: #88889D;
                    pointer-events: none;
                }

                &:hover {
                    color: $blue;

                    svg {
                        opacity: 1;
                        fill: $blue;
                    }
                }
            }
        }

        &__gallery {
            width: 100%;
            margin-left: auto;
            order: 1;
            display: flex;
            flex-wrap: wrap;

            @include to(900px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 10px;
                row-gap: 10px;
            }

            &-item {
                width: 30%;
                margin-bottom: 20px;
                margin-right: 20px;
                height: 426px;
                cursor: pointer;
                overflow: hidden;

                @include to(1440px) {
                    height: 280px;
                }

                @include to(1025px) {
                    height: 250px;
                }

                @include to(900px) {
                    width: 100%;
                    margin: 0;
                    height: 230px;
                }

                @include to(770px) {
                    height: 200px;
                }

                &:nth-child(2n) {
                    margin: 0;
                }

                @media(min-width: 910px) {
                    &:first-child,
                    &:nth-child(4n),
                    &:nth-child(5n) {
                        width: calc(70% - 20px);
                    }
                }

                @include to(900px) {
                    &:first-child,
                    &:nth-child(3n + 4) {
                        width: 100%;
                        margin-right: 0;
                        grid-column: 1/3;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .6s;
                }

                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}
