#security-page {
    .security {
        @include pageOffsetTop;

        &__block {
            padding: var(--scroll-features-offset) 0;
            border-bottom: 1px solid #ECEAE1;

            &:first-child {
                padding-top: 0;
            }
        }

        &__top {
            display: grid;
            align-items: center;
            grid-template-columns: 178px 1fr;
            column-gap: 228px;

            @include to(1650px) {
              column-gap: 150px;
            }

            @include to(1440px) {
              grid-template-columns: 160px 593px;
              column-gap: 210px;
            }

            .security__desc {
              max-width: none;
            }
        }

        &__desc {
            @include page-desc;
            max-width: 635px;

            @include to(1440px) {
              max-width: 593px;
            }

            &--correct {
                margin-left: 128px;

                @include to(1440px) {
                  margin-left: 100px;
                }
            }
        }

        &__title {
            @include page-big-text;
            margin-bottom: 60px;
            max-width: 1106px;

            @include to(1440px) {
              max-width: 100%;
              margin-bottom: 50px;
            }
        }

        &__info {
            &-wrap {
                display: flex;
                justify-content: flex-start;

                @include to(1440px) {
                  max-width: none;
                }
            }

            &-desc {
              max-width: 635px !important;

              @include to(1440px) {
                max-width: 593px;
              }
            }
        }

        &__item {
            padding: 100px 0;
            border-bottom: 1px solid #ECEAE1;

            .security__title {
                position: sticky;
                top: 150px;
            }

            .security__desc{
                margin-top: 50px;
            }
        }

        &__bottom {
            padding-top: var(--scroll-features-offset);

            &-block {
                width: 635px;

                @include to(1440px) {
                  width: 593px;
                }
            }

            &-desc {
                margin-bottom: 60px;
                margin-left: 100px;

                @include to(1440px) {
                  margin-bottom: 40px;
                }
            }

            &-wrap {
              max-width: 1250px;

              @include to(1440px) {
                max-width: none;
              }
            }
        }

        .section-with-scroll {
            height: auto;
            position: relative;
            overflow: visible !important;
        }

        .page-info {
            grid-template-columns: 400px 1fr;
            column-gap: 100px;

            @include to(1440px) {
              grid-template-columns: 260px 1fr;
              column-gap: 110px;
            }
        }

        .page-info__title {
            @include page-desc;
            max-width: none;
            text-transform: none;

            @include to(1440px) {
              max-width: 260px;
            }
        }

        .page-info {
            align-items: flex-start;
        }

        .page-info__left {
            top: 300px;
        }

        .page-info__item {
            svg {
                width: 22px;
                height: 25px;
                fill: #fff;
            }
        }
    }
}
