#service-page {
    .service {
        @include pageOffsetTop;

        &__top {
            padding-bottom: var(--scroll-features-offset);
            border-bottom: 1px solid #ECEAE1;
        }

        &__title {
            margin-bottom: 60px;
            @include page-big-text;
            max-width: 960px;

            @include to(1440px) {
              max-width: none;
              margin-bottom: 40px;
            }

            @include to(850px) {
                margin-bottom: 30px;
            }
        }

        &__desc {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 143px;
            max-width: 1171px;

            @include to(1440px) {
              max-width: none;
            }

            @include to(850px) {
                margin-right: 85px;
            }

            &-wrap {
                max-width: 635px;
                font-size: 26px;

                @include to(1440px) {
                  max-width: 593px;
                  font-size: 18px;
                }

                @include to(850px) {
                    max-width: 370px;
                }
            }
        }

        &__item {
            &--modify {
                padding: var(--scroll-features-offset) 0;
                border-bottom: 1px solid #ECEAE1;

                .service__title {
                    max-width: 736px;

                    @include to(770px) {
                        max-width: 430px;
                    }
                }
            }
        }

        &__list {
            &-item  {
                display: grid;
                justify-content: space-between;
                grid-template-columns: minmax(auto, 420px) 1fr;
                column-gap: 115px;

                @include to(1440px) {
                  grid-template-columns: minmax(auto, 300px) 1fr;
                  column-gap: 74px;
                }

                @include to(900px) {
                    column-gap: 80px;
                    grid-template-columns: 200px 1fr;
                }

                &:not(:last-child) {
                    margin-bottom: 30px;

                    @include to(850px) {
                        margin-bottom: 20px;
                    }
                }
            }

            &-title {
                @include page-desc;

                @include to(900px) {
                    font-size: 20px;
                }

                @include to(850px) {
                    font-size: 18px;
                }
            }

            .page-info__item-desc {
                max-width: 100%;
            }
        }

        &__bottom {
            padding-top: var(--scroll-features-offset);

            & > .service__title {
                margin-bottom: 20px;
            }

            &-wrap {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                max-width: 1170px;

                @include to(1440px) {
                  margin-right: 143px;
                  max-width: none;
                }

                @include to(900px) {
                    margin-right: 85px;
                }
            }

            &-desc {
                @include page-desc;
                max-width: 635px;
                padding-bottom: 50px;
                margin-bottom: 50px;
                border-bottom: 1px solid #ECEAE1;

                @include to(1440px) {
                  max-width: 593px;
                }

                @include to(850px) {
                    padding-bottom: 35px;
                    margin-bottom: 35px;
                }
            }

            &-block {
                .service__title {
                    margin-bottom: 10px;
                }
            }

            &-item {
                max-width: 635px;

                @include to(1440px) {
                  max-width: 594px;
                }

                @include to(850px) {
                    max-width: 370px;
                }
            }

            &-text {
                width: 370px;
                margin-bottom: 50px;

                @include to(850px) {
                    margin-bottom: 30px;
                }
            }

            a {
                text-decoration: none;
                color: $black;
                transition: all .4s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
