ul.breadcrumbs
  li.breadcrumbs__item 
    a(href="/").breadcrumbs__link Головна
  if(breadcrumbsLink === 'gallery')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Галерея
  if(breadcrumbsLink === 'contacts')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Контакти
  if(breadcrumbsLink === 'documents')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Документи
  if(breadcrumbsLink === 'news')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Новини
  if(breadcrumbsLink === 'new')
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link Новини
    li.breadcrumbs__item
      span.breadcrumbs__link.current Графік роботи відділу продажу на новорічні свята
  if(breadcrumbsLink === 'progress')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Хід будівництва
  if(breadcrumbsLink === 'webcam')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Веб камера
  if(breadcrumbsLink === 'about')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Про проєкт
  if(breadcrumbsLink === 'benefits')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Переваги
  if(breadcrumbsLink === 'environment')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Оточення
  if(breadcrumbsLink === 'developer')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Забудовник
  if(breadcrumbsLink === 'infra')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Інфраструктура
  if(breadcrumbsLink === 'location')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Локація
  if(breadcrumbsLink === 'equipment')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Комплектація квартир
  if(breadcrumbsLink === 'paymant')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Оплата
  if(breadcrumbsLink === 'stitching')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Розстрочка
  if(breadcrumbsLink === 'investor')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Для інвестора
  if(breadcrumbsLink === 'credit')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Кредит
  if(breadcrumbsLink === 'company')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Обслуговуюча компанія
  if(breadcrumbsLink === 'service')
    li.breadcrumbs__item
      span.breadcrumbs__link.current Обслуговуюча компанія
  
  
  
    
      
