footer.footer.sec 
  .footer__decor 
    +img('footer-decor.svg')
  .big-container
    .footer__wrap
      .footer__left 
        .footer__item 
          .footer__item-title.page-text Про проект
          ul.footer__list 
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Про проект
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Локація
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Галерея 
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Iнфраструктура
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Документи
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Пост сервіс
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Забудовник
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Обслуговуюча компанія
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Для інвестора
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Про проект
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Контакти
        .footer__item 
          .footer__item-title.page-text Обрати квартиру
          ul.footer__list 
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation За поверхом
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation За параметрами
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation 1-Кімнатні 
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation 2-Кімнатні
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation 3-Кімнатні
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation 4-Кімнатні
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Комерційна нерухомість
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Комплектація квартир
        .footer__item-tablet
        .footer__item.js-footer__item 
          .footer__item-title.page-text Будівництво
          ul.footer__list 
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Хід будіництва
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Панорама 180
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Забудовник
        .footer__item.js-footer__item 
          .footer__item-title.page-text Умови
          ul.footer__list 
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Оплата
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Розстрочка
            li.footer__list-item
              a(href="#").footer__list-link.link-border-animation Кредит
      .footer__center 
        .footer__center-title.page-text Якщо у вас виникли запитання, залиште свій номер і ми передзвонимо вам:
        form.footer-form
          .footer-form__decor 
            +svg('big-logo-decor')
          .popup__content-item
            .popup__content-item-block
              input(type="tel" data-required="true" class="popup__input" name="phone")
            .field-error-msg телефон повинен містити не менше 8 символів
          button(type="submit").popup__submit.btn-with-icon 
            span.btn
              +svg('btn-decor')
            span.btn-with-icon-text.link-border-animation Надіслати
      .footer__right 
        .footer__item 
          .footer__item-title.page-text Відділ продажу
          .footer__text м. Буча, Леоніда Бирюкова, 2
          a(href="tel:+380969956364").footer__phone.link-border-animation +38 (096) 995-63-64
          .footer__text.footer__text--mb0 Пн-Пт: 10:00-18:00 <br> Сб-Вс: 10:00-17:00
        .footer__item 
          .footer__item-title Соціальні мережі
          .socials.footer__socials 
            a(href="#").socials__link.link-border-animation instagram
            a(href="#").socials__link.link-border-animation facebook
        .footer__item 
          .footer__item-title Девелопер проєкту
          .footer__logo 
            +img('developer-dark.svg')
  .footer__bottom
    .big-container
      .footer__bottom-content 
        .footer__copyright © Усі права захищено. Гранд Бурже
        .footer__creator Розробка сайту 
          a(href="#").link-border-animation Smart Orange
        