button(type="button").btn-top.js-btn-top
    +svg('arrow-down')
//- .preloader 
//-     .preloader__wave 
//-     .preloader__content 
//-         .preloader__percent <span class="js-preloader-percent"></span>%
//-         .header__logo--big.btn
//-             +img('menu-logo.svg')
.video.js-video
    .video__wrap
        .video__block
            button(type="button").btn.js-video-close.video__close
                +svg('cross')
        <iframe class="js-video-container" width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
.menu.js-menu 
    .menu__header
        .big-container
            .menu__header-left.header__left  
                .menu__header-title Меню
                a(href="tel:+380969956364").header__phone 
                    +svg('phone')
                    | +38 (096) 995-63-64
            .header__center.menu__header-center 
                a(href="/").header__logo.btn 
                    +img('menu-logo.svg')
            .menu-header__right.header__right 
                button(type="button").popup-btn.header__popup-btn.js-popup-open Замовити дзвінок
                button(type="button").menu-btn.js-menu-close
                    span.menu-btn__text закрити
                    span.btn 
                        +svg('cross') 
    .menu__wrap
        nav.big-container.menu__container 
            .menu__block.menu__block--correct 
                .menu__title Про проєкт
                ul.menu__list 
                    li.menu__item 
                        a(href="#").menu__link Галерея
                    li.menu__item
                        a(href="#").menu__link Панорама 180
                    li.menu__item
                        a(href="#").menu__link Обслуговуюча компанія
                    li.menu__item
                        a(href="#").menu__link Забудовник
                    li.menu__item
                        a(href="#").menu__link Пост Сервіс
                    li.menu__item
                        a(href="#").menu__link Охорона
                    li.menu__item
                        a(href="#").menu__link Хід будівництва
                    li.menu__item
                        a(href="#").menu__link Документи
            .menu__block.menu__block--correct 
                .menu__title Про Комплекс
                ul.menu__list 
                    li.menu__item 
                        a(href="#").menu__link Галерея
                    li.menu__item
                        a(href="#").menu__link Локацiя
                    li.menu__item
                        a(href="#").menu__link Iнфраструктура
                    li.menu__item
                        a(href="#").menu__link  комплектація квартир
            .menu__block 
                a(href="#").menu__title.link-border-animation.menu__title-link.menu__title-link--dark Обрати квартиру
            .menu__block.menu__block--correct 
                .menu__title Умови
                ul.menu__list 
                    li.menu__item 
                        a(href="#").menu__link Оплата
                    li.menu__item 
                        a(href="#").menu__link Розстрочка
                    li.menu__item 
                        a(href="#").menu__link  Кредит
            .menu__block 
                a(href="#").menu__title.menu__title-link.link-border-animation.menu__title-link--dark Для інвестора 
            .menu__block 
                a(href="#").menu__title.menu__title-link.link-border-animation.menu__title-link--dark Контакти
    .language.menu__language 
        span.language__current.language__text Ru 
        .language__list 
            a(href="#").active Ru
            a(href="#") Uk
            a(href="#") En
    .menu__logo 
        +img('developer-dark.svg')
.overlay 
    .popup.popup-callback 
        button(type="button").popup__close.js-close-popup
            +svg('cross') 
        .popup__wrap 
            .popup__title.big-title Замовити дзвінок  
            .popup__desc Якщо у вас виникли питання, залиште свій номер і ми передзвонимо вам: 
        form.popup__content
            .popup__content-wrap
                .popup__content-item
                    .popup__content-item-title Введіть ваше ім’я
                    .popup__content-item-block
                        +svg('input-decor')
                        input(type="text" data-required="true" class="popup__input" name="name" placeholder="Ім`я:")
                    .field-error-msg Це обов’язкове поле
                .popup__content-item
                    .popup__content-item-title Введіть ваш номер телефону
                    .popup__content-item-block
                        +svg('input-decor')
                        input(type="tel" data-required="true" class="popup__input" name="phone" placeholder="Ім`я:")
                    .field-error-msg телефон повинен містити не менше 8 символів
            .popup__bottom
                .popup__bottom-left
                    +svg('input-decor')
                    | обов’язкові поля для заповнення
                .popup__bottom-right
                    button(type="submit").popup__submit.btn-with-icon 
                        span.btn
                            +svg('btn-decor')
                        span.btn-with-icon-text.link-border-animation Надіслати

        

