
extends ../layout/main
block variable
  -
    var title_page = 'Контакты'
    var id_page = 'contacts-page'
    var class_page = 'contacts-page'
    var breadcrumbsLink = 'contacts'
block scripts 
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/contacts.js')
block meta
  title= 'title'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
  .wrapper
    .page-top
      .page-top__decor
        +svg('big-round')
      .container
        .page-top__wrap
          include ../includes/breadcrumbs.pug
          h1.page-title Контакти
    section.contacts.sec 
      .container
        .contacts__content 
          .contacts__left
            .contacts__left-wrap 
              ul.contacts__list
                li.contacts__item 
                  .contacts__item-title Розташування:
                  a(href="#").contacts__item-block.contacts__item-block--1
                    span.contacts__item-icon  
                      +svg('location')
                    span.link-border-animation м. Буча, Леоніда Бирюкова, 2
                  a(href="#").btn-with-icon.contacts__item-link
                    span.btn
                      +svg('btn-decor')
                    span.btn-with-icon-text.link-border-animation Показати на <br> Google Maps
                li.contacts__item 
                  .contacts__item-title Відділ продажів:
                  a(href="tel:+380969956364").contacts__item-block.contacts__item-block--2
                    span.contacts__item-icon  
                      +svg('handset-phone')
                    span.link-border-animation +38 (096) 995-63-64
                  .contacts__item-block.contacts__item-block--3  
                    span.contacts__item-icon
                      +svg('clock')
                    | Пн-Пт: 10:00-18:00 <br>
                    | Сб-Вс: 10:00-17:00
                li.contacts__item 
                  .contacts__item-title Соціальні мережі:
                  .socials
                    a(href="#").contacts__item-block.contacts__item-block--link.socials__link.socials__link--1
                      span.contacts__item-icon  
                        +svg('instagram')
                      span.link-border-animation instagram
                    a(href="#").contacts__item-block--link.contacts__item-block.socials__link.socials__link--2
                      span.contacts__item-icon  
                        +svg('facebook')
                      span.link-border-animation facebook
          .contacts__right 
            form.contacts-form
              .contacts-form__title.contacts__item-title Розташування:
              .popup__content-item
                .popup__content-item-title Введіть ваше ім’я
                .popup__content-item-block
                    +svg('input-decor')
                    input(type="text" data-required="true" class="popup__input" name="name" placeholder="Ім`я:")
                .field-error-msg Це обов’язкове поле
              .popup__content-item
                .popup__content-item-title Введіть ваш номер телефону
                .popup__content-item-block
                    +svg('input-decor')
                    input(type="tel" data-required="true" class="popup__input" name="phone" placeholder="Ім`я:")
                .field-error-msg телефон повинен містити не менше 8 символів
              .popup__content-item
                .popup__content-item-title Введіть ваше повідомлення
                .popup__content-item-block
                    +svg('input-decor')
                    textarea(name="message" class="popup__input popup__input--big" placeholder="Повідомлення:")
              .popup__bottom
                .popup__bottom-left
                    +svg('input-decor')
                    | обов’язкові поля для заповнення
                .popup__bottom-right
                  button(type="submit").popup__submit.btn-with-icon 
                    span.btn
                      +svg('btn-decor')
                    span.btn-with-icon-text.link-border-animation Надіслати

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
