
extends ../layout/main
block variable
  -
    var title_page = 'Документи'
    var id_page = 'documents-page'
    var class_page = 'documents-page'
    var breadcrumbsLink = 'documents'
block scripts 
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/documents.js')
block meta
  title= 'title'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
  .wrapper
    .page-top
      .page-top__decor
        +svg('big-round')
      .container
        .page-top__wrap
          include ../includes/breadcrumbs.pug
          h1.page-title Документи
    .documents
      .big-container
        .documents__wrap
          .documents__title 2021
          a(href="#").documents__item
            .documents__date
              +svg('clock')
              .documents__date-info
                .documents__date-title 10
                .documents__date-month Травня
                .documents__date-year 2021
            .documents__desc Лiцензiя Г. П. Командор ( повiдомлення, перелiк робiт, Витяг iз сайту ДАБI )
            .documents__pdf Pdf
          a(href="#").documents__item
            .documents__date
              +svg('clock')
              .documents__date-info
                .documents__date-title 03
                .documents__date-month Червня
                .documents__date-year 2021
            .documents__desc Экспертиза проекта
            .documents__pdf Pdf
          a(href="#").documents__item
            .documents__date
              +svg('clock')
              .documents__date-info
                .documents__date-title 25
                .documents__date-month Липня
                .documents__date-year 2021
            .documents__desc Договір оренди земельної ділянки від 12.06.2020р
            .documents__pdf Pdf
          a(href="#").documents__item
            .documents__date
              +svg('clock')
              .documents__date-info
                .documents__date-title 02
                .documents__date-month Серпня
                .documents__date-year 2021
            .documents__desc 2020-11-26 ГП Цедика 14А Стадия П - КОРРЕКТ-2 ГП
            .documents__pdf Pdf


block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
