
extends ../layout/main
block variable
  -
    var title_page = 'Галерея'
    var id_page = 'gallery-page'
    var class_page = 'gallery-page'
    var breadcrumbsLink = 'gallery'
block scripts 
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/gallery.js')
block meta
  title= 'title'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
  .wrapper
    .page-top
      .page-top__decor
        +svg('big-round')
      .container
        .page-top__wrap
          include ../includes/breadcrumbs.pug
          h1.page-title Галерея
    .gallery
      .swiper-container.js-gallery-slider
        .swiper-wrapper
          .swiper-slide
            +img('gallery/1.jpg')
          .swiper-slide
            +img('gallery/2.jpg')
          .swiper-slide
            +img('gallery/3.jpg')
        .gallery__info
          <div class="swiper-pagination gallery__info-block"></div>
        <div class="swiper-button-prev gallery__btn gallery__btn-prev">
          +svg('slider-arrow')
        </div>
        <div class="swiper-button-next gallery__btn gallery__btn-next">
          +svg('slider-arrow')
        </div>

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
