
extends ../layout/main
block variable
  -
    var title_page = 'Главная'
    var id_page = 'index-page'
    var class_page = 'index-page'
    var breadcrumbsLink = true
block scripts 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/MotionPathPlugin.min.js"></script>
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/home.js')
block meta
  title= 'title'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
  .main-slider
    .main-slider__wrap 
      .main-slider__animate-title.main-slider__title(data-slide-title="0") Житловий комплекс
      .main-slider__animate-title.main-slider__title(data-slide-title="1") Бізнес класу
      .main-slider__animate-title.main-slider__title(data-slide-title="2") 
        +img('grand-byrze-text.svg')
      .main-slider__content
        .js-slider-desc
          .main-slider__desc Бульвар Леоніда Бирюкова, 2
          a(href="#" data-video="https://www.youtube.com/embed/cnzzbeCOOI4").main-slider__link.js-open-video 
            | Дивитися відео
            +svg('triangle')
    .swiper-container.js-main-slider 
      .swiper-wrapper 
        .swiper-slide
          .swiper-slide-img
            +img('home-slider/1.jpg')
          .main-slider__content
            .main-slider__title(data-slider="1") Житловий комплекс
            .main-slider__desc Бульвар Леоніда Бирюкова, 2
            a(href="#" data-video="https://www.youtube.com/embed/cnzzbeCOOI4").main-slider__link.js-open-video 
              | Дивитися відео
              +svg('triangle')
        .swiper-slide
          .swiper-slide-img
            +img('home-slider/2.jpg')
          .main-slider__content
            .main-slider__title(data-slider="2") Бізнес класу
            .main-slider__desc Бульвар Леоніда Бирюкова, 2
            a(href="#" data-video="https://www.youtube.com/embed/cnzzbeCOOI4").main-slider__link.js-open-video
              | Дивитися відео
              +svg('triangle')
        .swiper-slide
          .swiper-slide-img
            +img('home-slider/3.jpg')
          .main-slider__content
            +img('grand-byrze-text.svg').main-slider__title.main-slider__title--img(data-slider="3")
            .main-slider__desc Бульвар Леоніда Бирюкова, 2
            a(href="#" data-video="https://www.youtube.com/embed/cnzzbeCOOI4").main-slider__link.js-open-video 
              | Дивитися відео
              +svg('triangle')
    .main-slider__logo
      a(href="#") 
        +img('developer-white.svg')
    a(href="#intro").main-slider__more.js-anchor-link
      +svg('arrow-down')
  section.intro(id="intro") 
    .intro__bottom-decor 
      +img('intro-decor.svg').intro__bottom-decor-desk
      +img('intro-mobile-decor.svg').intro__bottom-decor-mobile
    .intro__decor
      +svg('big-logo-decor')
    .container 
      .intro__content 
        .intro__left 
          .custom-title.intro__title 
            | Преміум
            span життя за містом
          a(href="#").btn-with-icon.intro__link.intro__link--desk
            span.btn
              +svg('btn-decor')
            span.btn-with-icon-text.link-border-animation Про комплекс
        .intro__right  
          .intro__desc.custom-desc Майбутнє — за передмістям, але неабияким, а таким, що гарантує легке дихання та повноцінне цікаве життя без регулярних поїздок у мегаполіс. Висока екологічність і водночас транспортна доступність Бучі робить її ідеальною локацією для переселення далі від міської метушні.
          a(href="#").btn-with-icon.intro__link.intro__link--tablet
            span.btn
              +svg('btn-decor')
            span.btn-with-icon-text.link-border-animation Про комплекс
  section.gallery 
    .gallery__info-title.gallery__info-title--mobile.big-title Галерея
    .gallery__wrap
      .gallery__item  
        +img('home-gallery/1.jpg')
      .gallery__item
        +img('home-gallery/2.jpg')
    .gallery__info
      .gallery__info-wrap 
        .gallery__info-title.gallery__info-title--desk.big-title Галерея
        .galler__info-content 
          a(href="#").btn-with-icon
            span.btn
              +svg('btn-decor')
            span.btn-with-icon-text.link-border-animation дивитися фотографії
  section.building-info
    .building-info__decor 
      +img('building-info-decor.svg') 
      <svg width="320" height="100" viewBox="0 0 320 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M513.022 205.099H450.118C445.35 205.099 440.509 205.017 435.637 204.934C420.531 204.676 405.123 204.413 390.624 206.59C380.155 208.195 370.263 211.001 360.377 213.805C350.009 216.745 339.647 219.684 328.629 221.236C299.83 225.245 281.262 214.966 266.635 198.727C263.989 195.79 261.383 192.327 258.644 188.689C248.204 174.819 235.843 158.399 212.067 158.846C194.667 159.159 178.844 165.115 163.565 170.866L163.564 170.866C158.746 172.68 153.981 174.473 149.239 176.063C111.269 188.808 71.4044 196.979 29.0388 190.709C15.0181 188.654 1.83081 185.21 -11.2047 181.253C-13.5165 180.548 -15.913 179.743 -18.3701 178.917C-26.3047 176.251 -34.8722 173.372 -43.2631 172.979C-62.0702 172.147 -76.9323 181.262 -90.7845 189.759L-90.7856 189.759C-95.7448 192.801 -100.574 195.763 -105.409 198.161C-131.253 210.958 -158.082 211.061 -183.32 197.904C-186.776 196.095 -190.501 193.802 -194.425 191.387C-210.893 181.251 -230.85 168.968 -249.028 181.253C-253.845 184.506 -258.019 188.02 -262.095 191.451C-273.026 200.654 -283.253 209.264 -303.292 210.65C-298.821 213.836 -297.305 215.48 -297.305 219.026C-277.687 216.545 -268.566 207.684 -258.926 198.319C-254.191 193.719 -249.331 188.998 -243.041 184.851C-227.815 174.834 -206.798 187.632 -190.3 197.678C-184.789 201.033 -179.783 204.081 -175.665 205.87C-148.457 217.639 -115.792 215.275 -92.4496 200.011C-88.645 197.535 -85.0458 194.65 -81.405 191.732C-70.5406 183.025 -59.306 174.021 -41.141 174.675C-33.005 174.955 -24.9607 177.661 -17.4006 180.203C-15.2423 180.929 -13.1234 181.642 -11.0531 182.281C3.34668 186.701 17.8979 191.069 33.2072 193.844C73.1476 201.193 118.848 199.343 154.999 185.005C160.2 182.946 165.378 180.219 170.665 177.435C182.403 171.253 194.671 164.792 208.884 164.756C229.308 164.718 241.354 180.375 251.411 193.447C254.677 197.693 257.733 201.665 260.799 204.739C276.79 220.774 297.784 232.08 327.72 228.894C339.385 227.648 350.355 224.702 361.318 221.759C371.154 219.118 380.984 216.479 391.306 215.069C405.622 213.105 420.832 213.363 435.692 213.616C440.656 213.701 445.581 213.784 450.421 213.784H513.704H765.397H1098.18V204.996H767.367H513.022V205.099ZM510.369 189.065H449.057C444.52 189.065 439.867 188.967 435.16 188.869C420.524 188.563 405.372 188.246 391.609 190.812C381.946 192.611 373.25 195.9 364.553 199.189C355.856 202.478 347.16 205.767 337.497 207.566C310.364 212.602 296.268 200.936 283.46 186.238C282.914 185.611 282.373 184.986 281.834 184.365C264.848 164.779 250.651 148.408 212.674 149.853C187.891 150.778 163.714 152.474 139.765 157.099C126.423 159.663 113.183 163.195 99.8884 166.742C71.8744 174.216 43.618 181.755 13.6538 180.431C2.9303 179.943 -7.0116 177.692 -16.9191 175.45C-25.7772 173.444 -34.6079 171.446 -43.9452 170.718C-64.9745 169.072 -84.1624 176.844 -102.519 184.279C-109.963 187.294 -117.27 190.254 -124.508 192.508C-152.55 201.193 -170.436 198.11 -193.703 185.108C-217.349 171.9 -237.508 162.033 -265.019 176.165C-267.591 177.49 -270.093 178.814 -272.553 180.116C-290.902 189.826 -306.943 198.314 -332.471 196.774C-330.409 197.651 -328.619 198.4 -326.96 199.094L-326.914 199.113L-326.91 199.115L-326.908 199.116C-322.859 200.809 -319.575 202.183 -314.964 204.328C-293.051 204.078 -280.586 195.522 -266.892 186.122C-263.725 183.948 -260.492 181.729 -257.061 179.557C-234.404 165.24 -214.753 176.763 -195.926 187.802L-195.924 187.803C-192.585 189.761 -189.272 191.704 -185.972 193.485C-163.766 205.459 -141.56 206.487 -116.853 196.979C-110.328 194.461 -103.816 191.179 -97.1705 187.83C-80.8916 179.626 -63.814 171.019 -43.7936 172.26C-31.8628 172.995 -20.4644 176.272 -9.01135 179.564C1.14331 182.483 11.3409 185.415 21.9905 186.598C60.7472 190.986 96.1899 181.17 131.329 171.438C134.876 170.455 138.419 169.474 141.963 168.508C143.466 168.095 144.971 167.68 146.479 167.265L146.507 167.257C167.708 161.41 189.318 155.451 212.446 154.684C241.85 153.665 254.676 169.912 266.869 185.355C269.447 188.62 271.996 191.85 274.668 194.872C287.325 209.262 303.392 219.232 329.312 215.635C340.669 214.051 351.097 210.716 361.534 207.379C371.084 204.324 380.642 201.268 390.927 199.549C405.178 197.172 420.518 197.454 435.494 197.729C440.27 197.817 445.009 197.904 449.663 197.904H511.809H766.837H1098.18V189.116H766.306H510.369V189.065ZM451.482 173.031H511.051H767.215H1098.18V181.819H765.851H513.022H448.602C444.087 181.819 439.409 181.702 434.659 181.583C420.511 181.23 405.72 180.86 392.67 183.515C383.795 185.317 376.191 188.693 368.588 192.068C361.452 195.236 354.318 198.402 346.136 200.268C321.126 205.922 307.03 195.335 294.676 181.921C274.82 160.44 259.056 145.742 218.433 146.41C210.691 146.537 202.991 146.532 195.32 146.526C172.129 146.509 149.207 146.493 126.199 150.161C109.929 152.738 94.1049 157.145 78.2659 161.557L78.2653 161.557C54.9275 168.058 31.5575 174.567 6.68127 175.241C-4.35938 175.527 -14.6445 173.829 -24.9384 172.129C-33.0873 170.783 -41.2417 169.437 -49.7809 169.073C-70.0253 168.202 -88.9449 174.721 -107.262 181.033C-114.866 183.653 -122.366 186.238 -129.813 188.243C-141.56 191.429 -155.505 194.41 -168.162 192.251C-177.606 190.64 -186.165 185.81 -193.986 181.396L-193.987 181.395C-196.146 180.177 -198.248 178.991 -200.296 177.913C-211.058 172.311 -223.26 165.99 -237.281 165.116C-251.163 164.265 -262.091 169.422 -272.844 174.496L-272.85 174.499C-273.778 174.937 -274.703 175.373 -275.63 175.806C-298.669 186.495 -317.919 193.947 -346.492 190.401C-352.555 187.318 -355.207 185.725 -358.087 182.435C-332.243 188.14 -311.932 185.981 -288.817 176.32C-285.439 174.907 -282.099 173.311 -278.727 171.7C-269.466 167.276 -259.968 162.738 -248.801 161.57C-232.506 159.874 -217.652 165.27 -204.54 171.078C-201.354 172.479 -198.199 174.097 -195.011 175.732L-195.009 175.733C-188.492 179.075 -181.831 182.491 -174.452 184.286C-162.478 187.215 -149.67 185.108 -137.923 182.692C-129.626 180.974 -121.383 178.698 -113.101 176.412C-93.3887 170.969 -73.4543 165.465 -52.0546 167.275C-48.0864 167.611 -44.2157 168.014 -40.3976 168.41C-26.7137 169.833 -13.7048 171.185 0.69397 169.176C20.5833 166.392 39.1097 160.926 57.6687 155.451C78.5001 149.306 99.3724 143.148 122.258 140.756C141.81 138.728 160.888 140.159 180.019 141.594C193.37 142.595 206.747 143.598 220.328 143.429C220.77 143.423 221.211 143.417 221.652 143.411L222.67 143.396C240.897 143.138 258.084 142.895 274.365 149.647C287.517 155.095 296.134 163.481 304.721 171.838L304.721 171.838L304.759 171.876C305.314 172.415 305.868 172.955 306.423 173.493C319.156 185.776 333.707 196.774 357.58 190.093C363.926 188.338 369.16 185.459 374.392 182.581C380.347 179.306 386.299 176.032 393.883 174.418C406.589 171.721 421.793 172.219 436.087 172.687C441.403 172.861 446.593 173.031 451.482 173.031ZM-234.931 159.309C-223.29 160.557 -213.57 164.582 -203.877 168.597C-195.207 172.188 -186.558 175.77 -176.574 177.347C-157.512 180.349 -137.147 175.881 -117.519 171.574C-107.571 169.391 -97.8127 167.25 -88.5085 166.144C-77.7466 164.859 -67.2878 165.527 -56.9048 166.195L-55.9351 166.255C-47.0876 166.802 -38.2301 167.35 -29.0906 166.606C-9.15747 164.991 9.68408 158.744 28.2144 152.6C38.5703 149.167 48.8291 145.766 59.1268 143.223C81.5601 137.673 105.661 133.51 129.761 133.767C143.63 133.912 157.049 135.762 170.492 137.616L170.493 137.616L170.493 137.616L170.494 137.616L170.495 137.616L170.495 137.616C176.151 138.396 181.812 139.177 187.512 139.831C199.888 141.261 212.371 141.447 224.663 141.629C252.566 142.044 279.487 142.443 301.952 157.356C305.837 159.936 309.527 162.979 313.263 166.061L313.263 166.061C323.664 174.64 334.422 183.514 350.76 183.514C353.109 183.514 355.534 183.36 358.035 182.949C366.043 181.742 371.516 178.287 377.024 174.81C381.369 172.067 385.734 169.311 391.382 167.634C403.508 164.088 420.257 164.654 435.415 165.27C436.579 165.312 437.733 165.355 438.876 165.399C443.389 165.569 447.718 165.733 451.709 165.733H525.679H792.074H1098.18V156.996H794.272H524.693C500.593 156.996 476.492 157.048 452.392 157.15C447.305 157.15 441.932 157.004 436.412 156.855L435.945 156.842C420.939 156.379 404.872 155.968 391.837 159C385.849 160.415 381.496 163.151 377.151 165.883C372.971 168.51 368.8 171.132 363.189 172.568C344.208 177.43 329.49 168.128 316.066 159.643C312.606 157.456 309.232 155.323 305.893 153.502C282.343 140.659 256.976 140.44 230.641 140.214C216.721 140.094 202.53 139.972 188.194 137.981C177.623 136.517 167.345 134.322 157.063 132.126L157.063 132.126C146.409 129.85 135.751 127.574 124.759 126.11C97.7787 122.563 70.3435 123.951 44.2723 130.067C25.8558 134.384 7.13623 139.317 -9.61304 146.101C-14.0101 147.895 -18.171 149.929 -22.3267 151.96L-22.3289 151.961C-26.9825 154.236 -31.6295 156.508 -36.5936 158.435C-50.5948 163.875 -65.7296 163.319 -81.0927 162.754L-81.1571 162.752C-86.917 162.547 -92.6769 162.341 -98.4368 162.444C-112.399 162.692 -126.307 163.481 -140.223 164.271C-155.087 165.114 -169.958 165.958 -184.911 166.144C-198.407 166.331 -209.412 163.178 -220.682 159.948C-227.954 157.864 -235.337 155.748 -243.571 154.478C-244.534 154.328 -245.768 154.072 -247.24 153.767C-255.847 151.985 -272.626 148.51 -291.393 154.478C-313.372 161.467 -350.508 173.185 -372.108 164.705C-371.673 165.361 -371.346 165.869 -371.083 166.277C-370.614 167.008 -370.349 167.42 -370.033 167.789C-369.624 168.267 -369.131 168.673 -367.997 169.604L-367.996 169.605C-366.573 170.774 -364.141 172.772 -359.603 176.782C-333.124 185.255 -309.682 174.088 -291.477 165.415C-286.494 163.042 -281.904 160.855 -277.752 159.309C-262.87 153.769 -251.629 156.09 -242.539 157.967C-239.825 158.528 -237.302 159.049 -234.931 159.309ZM396.536 141.887C435.339 140.653 474.597 140.602 513.477 140.602H513.514C597.93 140.602 682.345 140.602 766.685 140.653H1098.18V149.441H766.761H513.553C493.696 149.441 473.764 149.596 453.831 149.801C447.995 149.865 442.036 149.782 436.036 149.698H436.036H436.035H436.035H436.034C422.56 149.51 408.882 149.32 395.929 150.778C387.227 151.755 382.474 154.237 377.006 157.092C374.712 158.29 372.293 159.554 369.404 160.799C352.048 168.302 334.238 161.159 319.535 154.221C290.811 140.705 266.407 137.467 231.393 138.701C203.76 139.664 180.086 132.831 156.051 125.894L156.051 125.893C142.907 122.1 129.655 118.275 115.589 115.677C73.2992 107.917 21.6875 117.116 -12.493 135.566C-17.0791 138.033 -21.4376 140.785 -25.7872 143.531L-25.7887 143.532C-39.1931 151.994 -52.5121 160.402 -72.1382 160.285C-87.7113 160.186 -103.213 159.12 -118.722 158.055C-135.214 156.921 -151.713 155.788 -168.313 155.814C-174.941 155.839 -181.62 156.397 -188.277 156.954C-195.475 157.556 -202.646 158.155 -209.694 158.075C-218.374 157.98 -225.937 155.656 -233.729 153.262C-234.305 153.085 -234.883 152.907 -235.462 152.731C-250.013 148.259 -264.716 143.788 -281.086 146.05C-289.108 147.15 -296.739 149.598 -304.32 152.029C-308.772 153.457 -313.206 154.879 -317.692 156.02C-338.534 161.262 -355.359 162.135 -376.276 156.534C-378.78 154.392 -380.735 152.781 -382.71 151.155L-382.719 151.147C-384.627 149.576 -386.553 147.99 -389.009 145.895C-366.121 149.39 -348.159 145.484 -326.635 140.396C-324.075 139.799 -321.466 139.137 -318.821 138.465C-309.642 136.136 -300.032 133.698 -290.56 133.459C-277.875 133.12 -267.508 137.182 -257.082 141.269C-254.862 142.139 -252.64 143.01 -250.392 143.84C-234.996 149.552 -222.012 148.197 -207.806 146.714C-199.773 145.875 -191.35 144.996 -181.88 145.33C-166.614 145.881 -151.681 148.369 -136.743 150.858C-118.234 153.943 -99.7174 157.028 -80.5508 156.431C-56.3567 155.692 -39.254 143.237 -22.8763 131.309C-16.4755 126.648 -10.1853 122.067 -3.62585 118.298C31.5399 98.1008 81.4085 89.8781 123.547 104.216C133.982 107.754 144.055 112.054 154.135 116.355L154.135 116.356C179.487 127.176 204.879 138.012 236.168 136.799C268.378 135.514 291.039 137.364 320.065 146.461C336.739 151.703 351.29 154.324 368.039 147.797C378.119 143.891 384.41 142.298 396.536 141.887ZM-296.699 122.461C-286.122 123.573 -278.162 127.863 -270.173 132.168L-270.172 132.168C-267.456 133.632 -264.738 135.097 -261.912 136.439C-247.723 143.159 -234.934 141.106 -221.107 138.887C-212.408 137.492 -203.299 136.03 -193.172 136.645C-177.596 137.601 -162.843 141.213 -148.109 144.82C-128.789 149.549 -109.501 154.271 -88.4327 152.988C-60.3535 151.263 -39.9601 134.768 -21.0214 119.449C-13.4303 113.309 -6.073 107.358 1.4519 102.623C19.1106 91.4714 39.4976 84.5334 62.9919 81.1416C88.9872 77.39 107.783 83.1459 128.549 93.5784C135.5 97.0731 142.537 101.014 149.734 105.043L149.735 105.044L149.736 105.045L149.737 105.045C176.827 120.213 206.16 136.638 241.549 135.257C270.045 134.127 291.266 134.641 318.474 140.088C336.132 143.634 346.894 142.195 363.113 136.902C372.827 133.767 381.712 133.966 392.019 134.196C393.372 134.226 394.75 134.257 396.157 134.281C418.632 134.665 441.107 134.2 463.581 133.735L463.582 133.735C480.214 133.391 496.845 133.048 513.477 133.048C569.759 133.013 626.008 133.025 682.268 133.036L682.372 133.036C710.472 133.042 738.574 133.048 766.685 133.048H1098.18V124.26H764.487C736.553 124.26 708.627 124.254 680.704 124.248L680.601 124.248C624.694 124.237 568.799 124.225 512.87 124.26C497.635 124.279 482.388 124.695 467.138 125.112C442.79 125.776 418.436 126.441 394.11 125.493C390.41 125.345 386.503 124.986 382.516 124.619C372.62 123.708 362.228 122.752 353.261 124.876C348.533 126.01 344.534 127.503 340.676 128.945C333.338 131.686 326.505 134.239 316.124 133.767C311.303 133.569 306.553 133.06 301.805 132.552C296.7 132.006 291.599 131.46 286.415 131.3C278.734 131.082 271.202 131.761 263.684 132.439C257.034 133.038 250.394 133.637 243.671 133.613C203.642 133.404 169.35 110.328 140.148 90.6767L140.147 90.6762C133.356 86.1062 126.84 81.7214 120.591 77.8525C119.017 76.878 117.443 75.8839 115.862 74.8853C101.685 65.931 86.9488 56.6229 66.6298 57.9637C40.1797 59.7111 18.959 68.7047 0.54248 81.2957C-13.3541 90.7972 -24.9695 101.518 -36.6064 112.26C-40.2645 115.636 -43.9248 119.015 -47.6588 122.358C-60.088 133.51 -73.4268 144.971 -94.1927 148.362C-118.742 152.364 -139.732 145.119 -160.81 137.843C-173.57 133.439 -186.361 129.024 -199.993 127.086C-214.09 125.089 -224.098 127.547 -235.11 130.252C-239.964 131.445 -245.014 132.685 -250.695 133.613C-260.245 135.155 -266.156 132.739 -273.129 128.474C-276.099 126.638 -278.79 124.592 -281.476 122.549C-287.286 118.13 -293.073 113.728 -301.625 111.514C-312.463 108.739 -325.422 110.692 -336.109 112.953C-343.802 114.58 -351.123 116.569 -358.374 118.538C-373.338 122.602 -388 126.584 -405 127.137C-403.939 130.786 -402.423 132.791 -398.634 136.851C-378.408 137.958 -361.671 133.841 -343.675 129.415C-339.958 128.5 -336.186 127.572 -332.319 126.675L-331.437 126.478C-320.775 124.099 -308.055 121.261 -296.699 122.461ZM-286.579 114.903C-291.102 111.123 -295.591 107.373 -302.459 105.193C-312.917 101.852 -325.422 103.6 -336.109 105.553C-344.545 107.109 -352.598 109.091 -360.598 111.059C-374.519 114.484 -388.283 117.87 -403.636 118.915C-401.267 113.896 -397.67 109.171 -394.115 104.501L-393.859 104.165C-381.435 103.556 -369.394 102.009 -357.314 100.457C-350.013 99.5194 -342.698 98.5795 -335.275 97.8438C-334.811 97.7972 -334.344 97.75 -333.875 97.7025C-324.002 96.7028 -313.073 95.5964 -303.595 98.0494C-298.595 99.3251 -295.083 101.478 -291.495 103.677C-289.59 104.844 -287.663 106.025 -285.482 107.094C-279.343 110.075 -275.857 110.538 -268.278 109.921C-263.054 109.482 -258.648 108.73 -254.519 108.025C-245.59 106.501 -237.956 105.197 -226.14 107.763C-213.734 110.452 -202.936 115.608 -192.185 120.742C-175.613 128.655 -159.153 136.515 -137.089 135.206C-112.382 133.767 -90.7822 119.223 -74.9425 107.763C-67.4628 102.36 -60.2833 96.7202 -53.0959 91.0745C-40.1836 80.9318 -27.2454 70.7688 -12.493 61.9208C6.60559 50.409 32.8282 36.4817 60.3394 37.561C85.7407 38.5657 108.777 53.9141 126.452 65.6902C127.762 66.5629 129.042 67.4159 130.292 68.242C134.007 70.6989 138.129 73.5328 142.594 76.602L142.598 76.605L142.599 76.6054C182.495 104.031 249.717 150.241 297.632 114.238C307.181 107.043 314.078 102.623 329.539 102.058C341.43 101.634 353.532 103.605 365.581 105.568C373.959 106.933 382.311 108.294 390.548 108.842C417.148 110.619 444.2 109.858 471.156 109.101C485.52 108.697 499.856 108.294 514.083 108.276C570.722 108.242 627.361 108.254 684 108.265C712.32 108.271 740.639 108.276 768.959 108.276H1098.18V117.064H766.685C738.574 117.064 710.472 117.059 682.372 117.053L682.268 117.053C626.008 117.042 569.759 117.03 513.477 117.064C497.885 117.084 482.281 117.522 466.675 117.96C441.699 118.661 416.715 119.361 391.761 118.349C386.159 118.118 380.291 117.478 374.335 116.829C361.759 115.457 348.793 114.043 337.118 116.345C331.648 117.422 326.934 119.423 322.241 121.416C316.856 123.703 311.499 125.978 305.059 126.829C290.432 128.782 273.759 130.478 259.056 131.454C213.339 134.461 172.561 106.796 140.294 84.9062C135.064 81.3579 130.058 77.9612 125.29 74.8716C123.114 73.4591 120.853 71.9392 118.508 70.3637L118.505 70.3614C101.658 59.0396 80.538 44.8455 56.3226 46.9657C29.6451 49.3297 6.75708 60.636 -10.9016 73.7924C-22.0688 82.0643 -31.8295 91.0562 -41.5969 100.054C-48.3352 106.262 -55.0769 112.473 -62.2859 118.452C-75.7761 129.656 -90.9338 141.99 -113.367 143.994C-136.146 145.996 -154.519 138.809 -172.968 131.593C-186.254 126.397 -199.58 121.184 -214.62 119.377C-223.715 118.298 -231.445 118.658 -240.312 120.199C-243.499 120.74 -246.512 121.694 -249.509 122.644C-253.354 123.862 -257.174 125.072 -261.306 125.39C-268.581 125.955 -273.204 124.362 -278.585 120.97C-281.537 119.115 -284.063 117.005 -286.579 114.903ZM-304.505 92.4479C-301.672 92.79 -299.018 93.4824 -296.37 94.1733C-293.846 94.8317 -291.328 95.4887 -288.665 95.8398C-280.579 96.9235 -273.207 95.9506 -265.907 94.9873C-255.898 93.6664 -246.023 92.3633 -234.628 96.4051C-225.677 99.5821 -217.521 104.475 -209.298 109.408C-193.713 118.759 -177.89 128.253 -155.96 126.469C-127.767 124.208 -103.136 109.767 -83.2793 97.176C-74.8499 91.8363 -66.6783 86.2467 -58.495 80.6489C-43.2078 70.1918 -27.8792 59.7064 -10.7499 50.769C9.33398 40.285 30.782 30.8289 56.7773 30.058C85.8118 29.2149 111.459 46.5093 131.062 59.7284L131.105 59.7575C131.802 60.2273 132.491 60.6918 133.172 61.1502C140.197 65.8827 147.348 71.2864 154.747 76.8781C183.747 98.7931 216.569 123.596 260.647 122.204C277.99 121.684 283.875 113.917 290.538 105.123C291.125 104.348 291.719 103.565 292.327 102.778C307.349 83.3167 336.177 89.7752 362.927 95.7681C372.345 97.8781 381.505 99.9304 389.715 100.773C416.539 103.502 444.628 102.659 472.379 101.826C485.399 101.435 498.345 101.047 511.052 101.03C567.991 100.996 624.897 101.008 681.813 101.019C710.276 101.025 738.742 101.03 767.215 101.03H1098.18V92.2424H767.67H512.264C500.539 92.2424 488.27 92.6566 475.808 93.0773H475.808C446.626 94.0625 416.383 95.0836 389.563 90.9062C380.364 89.4808 370.405 86.3773 360.276 83.2208C333.519 74.8829 305.577 66.1754 287.325 87.0518C285.007 89.7075 283.132 92.6133 281.272 95.4942C276.08 103.54 271.013 111.391 256.782 113.056C214.124 118.009 183.594 91.7821 157.827 69.646L157.826 69.6455C151.777 64.449 145.991 59.478 140.372 55.1887C122.334 41.3642 91.0335 18.9059 60.415 19.1115C29.7966 19.3171 1.1488 32.2165 -22.1182 44.4992C-34.3281 50.9219 -46.0452 57.7997 -57.764 64.6785C-73.6134 73.9819 -89.4661 83.2872 -106.546 91.4715C-128.07 101.75 -152.322 112.696 -179.53 112.799C-200.831 112.866 -212.457 103.73 -224.418 94.3312C-230.884 89.2498 -237.449 84.0912 -245.693 80.268C-262.063 72.662 -276.994 76.722 -292.606 82.1695C-304.126 86.2295 -319.89 88.4394 -332.243 84.3794C-337.315 82.727 -340.893 80.5 -344.32 78.3671C-350.06 74.7948 -355.376 71.4862 -366.575 71.5827C-369.91 75.6252 -373.311 79.622 -376.713 83.6188L-376.716 83.6217C-378.416 85.6197 -380.117 87.6177 -381.809 89.6214C-371.771 89.6214 -361.908 90.1778 -352.04 90.7345C-346.038 91.0731 -340.034 91.4119 -333.986 91.6257C-330.447 91.7559 -326.878 91.7447 -323.304 91.7334C-317.006 91.7137 -310.694 91.6938 -304.505 92.4479ZM-294.198 70.8631C-302.534 77.801 -317.768 86.7432 -331.561 78.058C-335.618 75.5019 -337.01 71.8495 -338.353 68.3242C-340.547 62.5642 -342.613 57.1433 -355.965 57.3984C-352.1 51.5397 -350.736 48.9701 -350.736 45.4754C-335.694 43.9953 -335.476 51.4596 -335.259 58.9133C-335.13 63.3648 -335 67.8126 -331.713 70.3492C-326.635 74.3064 -314.736 73.9466 -308.294 71.8909C-301.524 69.7141 -299.608 66.5925 -297.285 62.8076C-296.591 61.6778 -295.861 60.489 -294.955 59.2485C-286.619 47.6853 -266.383 47.4797 -251.529 54.5204C-245.986 57.1529 -241.372 60.0467 -236.906 62.8479C-227.508 68.7418 -218.764 74.2257 -203.403 76.0023C-168.844 80.0109 -131.708 67.9851 -103.06 56.4219C-88.318 50.47 -74.1217 43.8809 -59.9288 37.2935C-42.3816 29.1492 -24.8396 21.0073 -6.27844 14.0749C15.9275 5.80077 40.3314 -2.88449 66.2509 0.918518C99.4461 5.74937 126.351 22.606 145.146 41.1071C149.437 45.3466 153.554 50.6124 157.862 56.1232C172.198 74.4613 188.656 95.5135 220.707 90.4948C236.628 88.035 246.084 80.5562 255.778 72.8894C260.667 69.0231 265.616 65.109 271.485 61.7667C288.159 52.3106 311.729 47.5311 332.798 52.362C343.308 54.771 352.553 58.9077 361.794 63.043C371.479 67.3767 381.161 71.7089 392.292 74.0494C405.292 76.7708 420.274 76.3762 434.565 75.9998C439.436 75.8715 444.226 75.7453 448.829 75.7453H513.628H768.201H1098.18V84.5334H765.776H512.87C491.726 84.5334 470.581 84.5848 449.436 84.6362C445.17 84.6475 440.823 84.7314 436.437 84.8162C420.949 85.1153 404.968 85.4239 390.321 82.5805C379.647 80.5021 369.052 76.5822 358.566 72.7029C331.976 62.8653 306.09 53.2885 281.414 74.6661C277.783 77.816 274.79 81.4436 271.801 85.0657C264.746 93.6173 257.715 102.138 242.383 104.268C204.873 109.528 180.141 84.5681 159.271 63.5066C152.816 56.9924 146.73 50.8511 140.751 46.0921C121.652 30.8801 97.8545 15.4111 68.3729 10.4774C40.1901 5.81258 8.03625 19.9962 -14.418 29.9012C-14.9696 30.1446 -15.5154 30.3853 -16.0551 30.6231C-31.5984 37.4916 -46.2467 45.2219 -60.896 52.9527C-76.3898 61.1291 -91.8846 69.3061 -108.441 76.4648L-109.656 76.9897C-134.046 87.5243 -169.885 103.004 -200.372 98.1009C-212.011 96.2404 -223.023 88.1886 -234.013 80.1519C-253.079 66.2102 -272.083 52.3138 -294.198 70.8631Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0">
        <rect width="320" height="100" fill="white" transform="translate(320 100) rotate(-180)"/>
        </clipPath>
        </defs>
      </svg>
    .container
      .building-info__wrap 
        ul.building-info__list 
          li.building-info__item 
            .building-info-title Будинків
            .building-info-value 5
          li.building-info__item 
            .building-info-title Поверхів
            .building-info-value 16-18
          li.building-info__item 
            .building-info-title Квартири від, тис грн
            .building-info-value 749
        .building-info-tabs 
          .building-info-title Термін здачі будинків
          .building-info-tabs__block
            .building-info-tabs__list 
              .building-info__tab-block 
                button(type="button").building-info__tab.js-building-info__tab(data-choise="1") 1 буд
              .building-info__tab-block 
                button(type="button").building-info__tab.js-building-info__tab(data-choise="2") 2 буд
              .building-info__tab-block 
                button(type="button").building-info__tab.js-building-info__tab(data-choise="3") 3 буд
              .building-info__tab-block 
                button(type="button").building-info__tab.js-building-info__tab(data-choise="4") 4 буд
              .building-info__tab-block 
                button(type="button").building-info__tab.js-building-info__tab(data-choise="5") 5 буд
            .building-info-tabs__wrap
              .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="1") iV квартал 2022
              .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="2") iV квартал 2023
              .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="3") iV квартал 2024
              .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="4") iV квартал 2025
              .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="5") iV квартал 2026
  section.yard.sec 
    .container 
      .yard__content 
        .yard__title.custom-title Не всидіти вдома, коли на подвір’ї — <span><span class="yard__title-mark">розмаїття</span> можливостей для <span class="yard__title-mark">відпочинку.</span></span>
        .yard__desc.custom-desc Сучасні дитячі майданчики, спеціалізовані майданчики для різних видів спорту та фізичної активності, озеро і фонтани. А ще ми подбали, щоб прогулянки не супроводжувалися зайвими навантаженнями — у кожному під’їзді є кімнати для велосипедів та дитячих візочків.
  section.features
    .features__decor
      +img('logo-with-text.svg')
    .big-container.features__container.center-sec  
      .features__content 
        .features__left 
          +img('home-features.jpg')
        .features__right 
          .features__title.custom-title 
            | Переваги
            span Жителів комплексу
          .features__wrap 
            .features__desc.custom-desc Гранд Бурже — житловий комплекс бізнес-класу, який гарантує своїм мешканцям усі складові комфортного життя. Чудова локація, безкомпромісна якість і продуманість деталей — це комбо робить будинки привабливими для життя та інвестування.
            .a(href="#").btn-with-icon
              span.btn
                +svg('btn-decor')
              span.btn-with-icon-text.link-border-animation Дивитися переваги
  section.complex
    .complex__bg  
    .complex__content
      .container 
        .complex__left 
          .complex__title.custom-title 
            | ЖК Гранд Бурже -
            span це вибір сотень родин
          a(href="#").btn-with-icon.complex__link.complex__link--tablet
            span.btn
              +svg('btn-decor')
            span.btn-with-icon-text.link-border-animation Обрати квартиру
        .complex__right
          .complex__wrap
            .complex__desc.custom-desc Вони прагнуть жити там, де чисте повітря, поруч — хороші навчальні заклади, достойне медичне обслуговування, безліч можливостей для відпочинку з дітьми. Дружнє комьюніті житлового комплексу — це люди, які обрали серцем місце для життя і створюють у ньому комфортне середовище.
            a(href="#").btn-with-icon.complex__link.complex__link--desk
              span.btn
                +svg('btn-decor')
              span.btn-with-icon-text.link-border-animation Обрати квартиру
  section.infra 
    .container
      .infra__top 
        .infra__title.custom-title Безпрецедентна <span>для передмістя <span class="infra__title-mark">інфраструктура</span></span>
        .infra__content 
          .infra__desc.custom-desc Власний торгово-розважальний центр Avenir Plaza з кінотеатром, басейном, супермаркетом “Сільпо”, дитячою ігровою зоною, магазинами та ресторанами.
          .infra__desc Дві школи та два садочки на відстані 5 хвилин ходи. Торгові центри й супермаркети поруч з будинком, у тому числі “Епіцентр”, АТБ і Novus. Спортивні студії, фітнес-клуби, басейни у пішій доступності. Державні та приватні медичні заклади до послуг мешканців.
    .infra__img.sec 
      +img('home-infra-bg.jpg')
  section.features.location
    .big-container.features__container.center-sec  
      .features__content 
        .features__left 
          +img('home-location-img.jpg')
        .features__right 
          .features__title.custom-title 
            | Локація
            span проєкту
          .features__wrap 
            .features__desc.custom-desc ЖК Гранд Бурже розташований у наймальовничішому передмісті Києва — у місті Буча. Відстань від Києва — 20 км або 25 хвилин на авто.
            a(href="#").btn-with-icon
              span.btn
                +svg('btn-decor')
              span.btn-with-icon-text.link-border-animation Дізнатися про локацію
  section.contacts.center-sec 
    .container.large-container-desk
      .contacts__title.big-title Контакти
      .contacts__content 
        .contacts__left
          .contacts__left-wrap 
            ul.contacts__list
              li.contacts__item 
                .contacts__item-wrap
                  .contacts__item-title Розташування:
                  a(href="#").contacts__item-block.contacts__item-block--1
                    span.contacts__item-icon  
                      +svg('location')
                    span.link-border-animation м. Буча, Леоніда Бирюкова, 2
                a(href="#").btn-with-icon.contacts__item-link
                  span.btn
                    +svg('btn-decor')
                  span.btn-with-icon-text.link-border-animation Показати на <br> Google Maps
              li.contacts__item 
                .contacts__item-title Відділ продажів:
                a(href="tel:+380969956364").contacts__item-block.contacts__item-block--2
                  span.contacts__item-icon  
                    +svg('handset-phone')
                  span.link-border-animation +38 (096) 995-63-64
                .contacts__item-block.contacts__item-block--3  
                  span.contacts__item-icon
                    +svg('clock')
                  | Пн-Пт: 10:00-18:00 <br>
                  | Сб-Вс: 10:00-17:00
              li.contacts__item 
                .contacts__item-title Соціальні мережі:
                .socials
                  a(href="#").contacts__item-block.socials__link.socials__link--1
                    span.contacts__item-icon  
                      +svg('instagram')
                    span.link-border-animation instagram
                  a(href="#").contacts__item-block.socials__link.socials__link--2
                    span.contacts__item-icon  
                      +svg('facebook')
                    span.link-border-animation facebook
        .contacts__right 
          form.contacts-form
            .contacts-form__title.contacts__item-title Залишились запитання?:
            .popup__content-item
              .popup__content-item-title Введіть ваше ім’я
              .popup__content-item-block
                  +svg('input-decor')
                  input(type="text" data-required="true" class="popup__input" name="name" placeholder="Ім`я:")
              .field-error-msg Це обов’язкове поле
            .popup__content-item
              .popup__content-item-title Введіть ваш номер телефону
              .popup__content-item-block
                  +svg('input-decor')
                  input(type="tel" data-required="true" class="popup__input" name="phone" placeholder="Ім`я:")
              .field-error-msg телефон повинен містити не менше 8 символів
            .popup__content-item
              .popup__content-item-title Введіть ваше повідомлення
              .popup__content-item-block
                  textarea(name="message" class="popup__input popup__input--big" placeholder="Повідомлення:")
            .popup__bottom
              .popup__bottom-left
                  +svg('input-decor')
                  | обов’язкові поля для заповнення
              .popup__bottom-right
                button(type="submit").popup__submit.btn-with-icon 
                  span.btn
                    +svg('btn-decor')
                  span.btn-with-icon-text.link-border-animation Надіслати
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
