
extends ../layout/main
block variable
  -
    var title_page = 'Главная'
    var id_page = 'index-page'
    var class_page = 'index-page'
block scripts 
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/home.js')
block meta
  title= 'title'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
  .main-slider
    .swiper-container.js-main-slider 
      .swiper-wrapper 
        .swiper-slide
          .swiper-slide-img
            +img('home-slider/1.jpg')
          .main-slider__content
            .main-slider__title(data-slider="1") Житловий комплекс
            .main-slider__desc Бульвар Леоніда Бирюкова, 2
            a(href="#" data-video="https://www.youtube.com/embed/cnzzbeCOOI4").main-slider__link.js-open-video 
              | Дивитися відео
              +svg('triangle')
        .swiper-slide
          .swiper-slide-img
            +img('home-slider/2.jpg')
          .main-slider__content
            .main-slider__title(data-slider="2") Бізнес класу
            .main-slider__desc Бульвар Леоніда Бирюкова, 2
            a(href="#" data-video="https://www.youtube.com/embed/cnzzbeCOOI4").main-slider__link.js-open-video
              | Дивитися відео
              +svg('triangle')
        .swiper-slide
          .swiper-slide-img
            +img('home-slider/3.jpg')
          .main-slider__content
            +img('grand-byrze-text.svg').main-slider__title.main-slider__title--img(data-slider="3")
            .main-slider__desc Бульвар Леоніда Бирюкова, 2
            a(href="#" data-video="https://www.youtube.com/embed/cnzzbeCOOI4").main-slider__link.js-open-video 
              | Дивитися відео
              +svg('triangle')
    .main-slider__logo 
      +img('developer-white.svg')
    a(href="#intro").main-slider__more.js-anchor-link
      +svg('arrow-down')
  section.intro(id="intro") 
    .intro__bottom-decor 
      +img('intro-decor.svg')
    .intro__decor
      +svg('big-logo-decor')
    .container 
      .intro__content 
        .intro__left 
          .custom-title.intro__title 
            | Преміум
            span життя за містом
          a(href="#").btn-with-icon.intro__link
            span.btn
              +svg('btn-decor')
            span.btn-with-icon-text.link-border-animation Про комплекс
        .intro__right  
          .intro__desc.custom-desc Майбутнє — за передмістям, але неабияким, а таким, що гарантує легке дихання та повноцінне цікаве життя без регулярних поїздок у мегаполіс. Висока екологічність і водночас транспортна доступність Бучі робить її ідеальною локацією для переселення далі від міської метушні.
  section.gallery 
    .gallery__wrap
      .gallery__item  
        +img('home-gallery/1.jpg')
      .gallery__item
        +img('home-gallery/2.jpg')
    .gallery__info
      .gallery__info-wrap 
        .gallery__info-title.big-title Галерея
        .galler__info-content 
          a(href="#").btn-with-icon
            span.btn
              +svg('btn-decor')
            span.btn-with-icon-text.link-border-animation дивитися фотографії
  section.building-info
    .building-info__decor 
      +img('building-info-decor.svg') 
    .container
      .building-info__wrap 
        ul.building-info__list 
          li.building-info__item 
            .building-info-title Будинків
            .building-info-value 5
          li.building-info__item 
            .building-info-title Поверхів
            .building-info-value 16-18
          li.building-info__item 
            .building-info-title Квартири від, тис грн
            .building-info-value 749
        .building-info-tabs 
          .building-info-title Термін здачі будинків
          .building-info-tabs__list 
            .building-info__tab-block 
              button(type="button").building-info__tab.js-building-info__tab(data-choise="1") 1 буд
            .building-info__tab-block 
              button(type="button").building-info__tab.js-building-info__tab(data-choise="2") 2 буд
            .building-info__tab-block 
              button(type="button").building-info__tab.js-building-info__tab(data-choise="3") 3 буд
            .building-info__tab-block 
              button(type="button").building-info__tab.js-building-info__tab(data-choise="4") 4 буд
            .building-info__tab-block 
              button(type="button").building-info__tab.js-building-info__tab(data-choise="5") 5 буд
          .building-info-tabs__wrap
            .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="1") iV квартал 2022
            .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="2") iV квартал 2023
            .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="3") iV квартал 2024
            .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="4") iV квартал 2025
            .building-info-tabs__content.js-building-info-tabs__content(data-choise-content="5") iV квартал 2026
  section.yard.sec 
    .container 
      .yard__content 
        .yard__title.custom-title Не всидіти вдома, коли на подвір’ї — <span><span class="yard__title-mark">розмаїття</span> можливостей для <span class="yard__title-mark">відпочинку.</span></span>
        .yard__desc.custom-desc Сучасні дитячі майданчики, спеціалізовані майданчики для різних видів спорту та фізичної активності, озеро і фонтани. А ще ми подбали, щоб прогулянки не супроводжувалися зайвими навантаженнями — у кожному під’їзді є кімнати для велосипедів та дитячих візочків.
  section.features
    .features__decor
      +img('logo-with-text.svg')
    .big-container.features__container.center-sec  
      .features__content 
        .features__left 
          +img('home-features.jpg')
        .features__right 
          .features__title.custom-title 
            | Переваги
            span Жителів комплексу
          .features__wrap 
            .features__desc.custom-desc Гранд Бурже — житловий комплекс бізнес-класу, який гарантує своїм мешканцям усі складові комфортного життя. Чудова локація, безкомпромісна якість і продуманість деталей — це комбо робить будинки привабливими для життя та інвестування.
            .a(href="#").btn-with-icon
              span.btn
                +svg('btn-decor')
              span.btn-with-icon-text.link-border-animation Дивитися переваги
  section.complex
    .complex__bg  
    .complex__content
      .container 
        .complex__left 
          .complex__title.custom-title 
            | ЖК Гранд Бурже -
            span це вибір сотень родин
        .complex__right
          .complex__wrap
            .complex__desc.custom-desc Вони прагнуть жити там, де чисте повітря, поруч — хороші навчальні заклади, достойне медичне обслуговування, безліч можливостей для відпочинку з дітьми. Дружнє комьюніті житлового комплексу — це люди, які обрали серцем місце для життя і створюють у ньому комфортне середовище.
            a(href="#").btn-with-icon
              span.btn
                +svg('btn-decor')
              span.btn-with-icon-text.link-border-animation Дивитися переваги
  section.infra 
    .container
      .infra__top 
        .infra__title.custom-title Безпрецедентна <span>для передмістя <span class="infra__title-mark">інфраструктура</span></span>
        .infra__content 
          .infra__desc.custom-desc Власний торгово-розважальний центр Avenir Plaza з кінотеатром, басейном, супермаркетом “Сільпо”, дитячою ігровою зоною, магазинами та ресторанами.
          .infra__desc Дві школи та два садочки на відстані 5 хвилин ходи. Торгові центри й супермаркети поруч з будинком, у тому числі “Епіцентр”, АТБ і Novus. Спортивні студії, фітнес-клуби, басейни у пішій доступності. Державні та приватні медичні заклади до послуг мешканців.
    .infra__img.sec 
      +img('home-infra-bg.jpg')
  section.features.location
    .big-container.features__container.center-sec  
      .features__content 
        .features__left 
          +img('home-location-img.jpg')
        .features__right 
          .features__title.custom-title 
            | Локація
            span проєкту
          .features__wrap 
            .features__desc.custom-desc ЖК Гранд Бурже розташований у наймальовничішому передмісті Києва — у місті Буча. Відстань від Києва — 20 км або 25 хвилин на авто.
            a(href="#").btn-with-icon
              span.btn
                +svg('btn-decor')
              span.btn-with-icon-text.link-border-animation Дізнатися про локацію
  section.contacts.center-sec 
    .container.large-container-desk
      .contacts__title.big-title Контакти
      .contacts__content 
        .contacts__left
          .contacts__left-wrap 
            ul.contacts__list
              li.contacts__item 
                .contacts__item-title Розташування:
                a(href="#").contacts__item-block.contacts__item-block--1
                  span.contacts__item-icon  
                    +svg('location')
                  span.link-border-animation м. Буча, Леоніда Бирюкова, 2
                a(href="#").btn-with-icon.contacts__item-link
                  span.btn
                    +svg('btn-decor')
                  span.btn-with-icon-text.link-border-animation Показати на <br> Google Maps
              li.contacts__item 
                .contacts__item-title Відділ продажів:
                a(href="tel:+380969956364").contacts__item-block.contacts__item-block--2
                  span.contacts__item-icon  
                    +svg('handset-phone')
                  span.link-border-animation +38 (096) 995-63-64
                .contacts__item-block.contacts__item-block--3  
                  span.contacts__item-icon
                    +svg('clock')
                  | Пн-Пт: 10:00-18:00 <br>
                  | Сб-Вс: 10:00-17:00
              li.contacts__item 
                .contacts__item-title Соціальні мережі:
                .socials
                  a(href="#").contacts__item-block.socials__link.socials__link--1
                    span.contacts__item-icon  
                      +svg('instagram')
                    span.link-border-animation instagram
                  a(href="#").contacts__item-block.socials__link.socials__link--2
                    span.contacts__item-icon  
                      +svg('facebook')
                    span.link-border-animation facebook
        .contacts__right 
          form.contacts-form
            .contacts-form__title.contacts__item-title Залишились запитання?:
            .popup__content-item
              .popup__content-item-title Введіть ваше ім’я
              .popup__content-item-block
                  +svg('input-decor')
                  input(type="text" data-required="true" class="popup__input" name="name" placeholder="Ім`я:")
              .field-error-msg Це обов’язкове поле
            .popup__content-item
              .popup__content-item-title Введіть ваш номер телефону
              .popup__content-item-block
                  +svg('input-decor')
                  input(type="tel" data-required="true" class="popup__input" name="phone" placeholder="Ім`я:")
              .field-error-msg телефон повинен містити не менше 8 символів
            .popup__content-item
              .popup__content-item-title Введіть ваше повідомлення
              .popup__content-item-block
                  +svg('input-decor')
                  textarea(name="message" class="popup__input popup__input--big" placeholder="Повідомлення:")
            .popup__bottom
              .popup__bottom-left
                  +svg('input-decor')
                  | обов’язкові поля для заповнення
              .popup__bottom-right
                button(type="submit").popup__submit.btn-with-icon 
                  span.btn
                    +svg('btn-decor')
                  span.btn-with-icon-text.link-border-animation Надіслати
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
