
extends ../layout/main
block variable
  -
    var title_page = 'Розстрочка'
    var id_page = 'stitching-page'
    var class_page = 'stitching-page'
    var breadcrumbsLink = 'stitching'
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/stitching.js')
block meta
  title= 'title'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block content
  .wrapper
    .page-top
      .page-top__decor
        +svg('big-round')
      .container
        .page-top__wrap
          include ../includes/breadcrumbs.pug
          h1.page-title Розстрочка
    .container
        .block-with-img 
            .block-with-img__title Ви маєте можливість скористатися розстрочкою від забудовника Linevich Group.
            .block-with-img__wrap 
                +img('paymant/1.jpg')
                .block-with-img__content 
                    .block-with-img__text Умови купівлі квартири на виплат у ЖК Гранд Бурже залежать від обраного планування. Детальніше розкажуть менеджери відділу продажів.
                    .block-with-img__desc Телефонуйте за номером <a href="+380442903260">+38 044 290 32 60</a> або залишайте заявку на сайті й ми зв'яжемося з вами у зручний для вас час.
                    button(type="button").btn-with-icon.js-popup-open(data-popup-type="callback") 
                        span.btn
                            +svg('btn-decor')
                        span.btn-with-icon-text.link-border-animation Залишити заявку

block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
