.pu-form {
  &__header {
  }
  &__data {
    margin-top: 60px;
  }

  &__close {
    margin-left: auto;
  }
}

.header-pu-form {
  display: flex;
  @include to(640px) {
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 40px;
    @include to(640px) {
      display: none !important;
    }
  }
  &__info-wrapper {
    padding-left: 30px;
    width: 100%;
    @include to(640px) {
      padding-left: 0;
    }
  }
  &__radio-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__img-wrapper {
    flex-basis: 50%;
    flex-shrink: 0;
    @include to(640px) {
      flex-basis: 100%;
      margin-bottom: 15px;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &__radio-btn-wrapper {
    flex-basis: 50%;
  }
}

.data-pu-form {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include to(640px) {
      flex-wrap: wrap;
    }
  }
  &__btn {
    @include to(640px) {
      margin: 48px auto 0;
    }
  }
  &__subtitle {
    font-weight: 700;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 16px;
    &_m40 {
      margin-bottom: 40px;
    }
    &_price {
      margin-bottom: 0;
    }
  }
  &__row + &__row {
    margin-top: 16px;
  }

  &__form-input-group {
    position: relative;
    width: 100%;
    &_three {
      flex-basis: calc(33.3% - 15px);
    }
    &_two {
      flex-basis: calc(67% - 12px);
    }
    &_full {
      flex-basis: 100%;
    }
    &_phone {
      flex-basis: calc(40% - 15px);
      @include to(640px) {
        flex-basis: 100%;
      }
    }
    &_email {
      flex-basis: calc(60% - 15px);
      @include to(640px) {
        flex-basis: 100%;
      }
    }
  }

  &__price {
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }

  &__warning-text {
    p + p {
      margin-top: 10px;
    }
  }
}

.form-input-group {
  label.form-input-group__upload-btn {
    display: inline-flex;
    cursor: pointer;
    input {
      display: none;
    }
  }
  &__upload-text-wrapper {
    max-width: 176px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 52px;
    @include to(640px) {
      margin-bottom: 15px;
      max-width: 200px;
    }
    span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
  }

  &__add-info {
    width: 100%;
  }
  &__input {
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 0 16px;
    height: 52px;
    width: 100%;
    margin-bottom: 7px;

    &_textarea {
      height: 95px;
      resize: none;
      width: 100%;
      padding-top: 5px;
    }
  }

  &_upload {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 20px;
    width: 45%;
    @include to(640px) {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  &__label {
    margin-bottom: 15px;
    display: block;
  }
}

.big-container {
  max-width: 1920px;
  padding-left: 72px;
  padding-right: 72px;
  margin: 0 auto;

  @include to(1440px) {
    max-width: 1326px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include to(992px) {
    padding: 0 30px !important;
  }

  @include to(600px) {
    padding: 0 15px !important;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  transition: all 0.4s;
  border: none;
  background-color: $red;
  border-radius: 50%;
  cursor: pointer;
  width: 70px;
  height: 70px;

  @include to(1440px) {
    width: 60px;
    height: 60px;
  }

  @include to(770px) {
    width: 50px;
    height: 50px;
  }

  &:hover {
    background-color: $blue;
  }
}

.btn-res {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup-btn {
  @include btnWithText;
  text-transform: uppercase;

  @include to(1440px) {
    font-size: 12px;
  }

  @include to(850px) {
    font-size: 10px;
  }
}

.menu-btn {
  font-family: $default-font;
  font-size: 14px;
  line-height: 1em;
  color: $black;
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #fff;

  @include to(1440px) {
    font-size: 12px;
  }

  @include to(1100px) {
    &__text {
      display: none;
    }
  }

  span {
    margin-left: 20px;

    @include to(1100px) {
      margin-left: 0;
    }

    svg {
      width: 17px;
      height: 14px;

      @include to(1440px) {
        width: 14px;
        height: 12px;
      }

      @include to(770px) {
        width: 12px;
        height: 11px;
      }
    }
  }

  &:hover {
    .btn {
      background-color: $blue;
    }
  }
}

.link-border-animation {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background: $black;
    transform: scaleX(0);
    transition: all 0.4s;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

.animation-arrow-down {
  @keyframes arrowDown {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-3px);
    }

    50% {
      transform: translateY(-5px);
    }

    75% {
      transform: translateY(-3px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.big-title,
.custom-title {
  text-transform: uppercase;
  font-size: 96px;
  line-height: 0.9em;
  color: $black;
  font-family: $default-font2;

  @include to(1440px) {
    font-size: 72px;
  }

  @include to(992px) {
    font-size: 60px;
  }

  @include to(770px) {
    font-size: 52px;
  }
}

.field-error-msg {
  margin-top: 6px;
  font-size: 10px;
  line-height: 1.4em;
  color: $lightRed;
  opacity: 0;
  transition: all 0.4s;
}

.btn-with-icon {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  line-height: 1em;
  font-family: $default-font2;
  text-transform: uppercase;
  color: $black;
  border: none;
  background-color: transparent;
  text-decoration: none;

  @include to(1440px) {
    font-size: 18px;
  }

  @include to(850px) {
    font-size: 17px;
  }

  @include to(770px) {
    font-size: 16px;
  }

  .btn {
    margin-right: 30px;
    width: 100px;
    height: 100px;
    box-shadow: 0px 20px 30px rgba(226, 62, 40, 0.2);

    @include to(1440px) {
      margin-right: 20px;
    }

    @include to(850px) {
      width: 75px;
      height: 75px;
    }

    svg {
      width: 31px;
      height: 34px;

      @include to(850px) {
        width: 25px;
        height: 25px;
      }
    }
  }

  &-text {
    &::before {
      transform: scaleX(1);
      background-color: $red;
    }
  }

  &:hover {
    .btn {
      background-color: $blue;
    }

    .btn-with-icon-text::before {
      transform: scaleX(0);
    }
  }
}

.custom-title {
  span {
    display: block;
    margin-left: 90px;

    @include to(992px) {
      margin-left: 50px;
    }

    @include to(770px) {
      margin-left: 34px;
    }
  }
}

.custom-desc {
  &::before {
    content: '';
    display: inline-flex;
    width: 56px;
    height: 8px;
    margin-right: 25px;
    border: 1px solid $red;
    transform: rotate(-15deg) translateY(-5px);

    @include to(1440px) {
      width: 45px;
      height: 6px;
    }
  }
}

.sec {
  min-height: 100vh;
  position: relative;
}

.page-title {
  font-size: 66px;
  font-family: $default-font2;
  line-height: 0.9em;
  text-transform: uppercase;
  color: #ECEAE1;

  @include to(1440px) {
    font-size: 64px;
  }

  @include to(1025px) {
    font-size: 45px;
  }

  @include to(850px) {
    font-size: 30px;
  }

  @include to(770px) {
    font-size: 24px;
  }
}

@keyframes goTop {
  0% {
    transform: translateY(0) rotate(180deg);
  }

  25% {
    transform: translateY(-3px) rotate(180deg);
  }

  50% {
    transform: translateY(-5px) rotate(180deg);
  }

  75% {
    transform: translateY(-3px) rotate(180deg);
  }

  100% {
    transform: translateY(0) rotate(180deg);
  }
}

.btn-top {
  position: fixed;
  bottom: 80px;
  right: 50px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2A3341;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  z-index: 100;
  transition: all .4s;

  @include to(1440px) {
    width: 42px;
    height: 42px;
  }

  @include to(770px) {
    bottom: 30px;
    width: 50px;
    height: 50px;
  }

  svg {
    transform: rotate(180deg);
    fill: none;
    stroke: #2A3341;
    width: 20px;
    height: 20px;
    animation: goTop 1.2s infinite linear;
    transition: all .4s;

    @include to(1440px) {
      width: 14px;
      height: 14px;
    }

    @include to(770px) {
      width: 17px;
      height: 17px;
    }
  }

  &:hover {
    border-color: transparent;
    background-color: $blue;

    svg {
      stroke: #fff;
    }
  }
}

// .section-with-scroll {
//   margin-bottom: 100px;
//   height: calc(100vh - 100px);
//   overflow: hidden;
//   overflow-y: scroll;

//   &::-webkit-scrollbar {
//     width: 0px;
//   }
// }

.block-with-img {
  @include pageOffsetTop;

  &__title {
    @include page-big-text;
    margin-bottom: 60px;
    max-width: 1106px;

    @include to(1440px) {
      margin-bottom: 50px;
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: 513px 370px;
    align-items: center;
    column-gap: 80px;

    @media (min-width: 1500px) {
      grid-template-columns: 743px 405px;
      column-gap: 116px;

      img {
        height: var(--max-img-height);
        object-fit: cover;
      }
    }
  }

  &__text {
    margin-bottom: 30px;
  }

  &__desc {
    @include page-desc;
    margin-bottom: 40px;
    max-width: 340px;

    @include to(1440px) {
      margin-bottom: 30px;
      max-width: 315px;
    }

    a {
      color: $black;
      text-decoration: none;
      transition: all .4s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

//.overlay-block {
//  top: 0;
//  position: sticky;
//  width: 100%;
//  height: 100vh;
//  overflow: hidden;
//
//  &__bg {
//    background: linear-gradient(144deg, #FFFDF3 0%, #F0EEE3 99.99%);
//    height: 100%;
//  }
//}

.large-container-desk {
  @media (min-width: 1500px) {
    max-width: 1920px;
    width: 100%;
    padding: 0 290px !important;
  }
}

.page-text {
  font-size: 26px;
  line-height: 1em;
  color: $black;

  @include to(1440px) {
    font-size: 24px;
  }
}

.center-sec {
  padding: var(--padding-page) 0;

  @media(min-width: 2000px) {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
  }
}

#paymant-page {
  .paymant {
    @media (min-width: 1500px) {
      padding-right: 290px;
    }
  }

  .block-with-img__wrap {
    justify-content: space-between;
  }
}
