$default-font: "gilroy",
sans-serif;
$default-font2: 'Arsenal', sans-serif;

$black: #2A3341;
$red: #E23E28;
$yellow: #EFBC48;
$lightRed: #DF5E5E;
$grey: #8E837B;
$blue: #0951BE;

:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 180px;
  --page-header-h: 140px;
  --padding-page: 180px;
  --scroll-features-offset: 120px;
  --max-img-height: 862px;
}

@media screen and (max-width: 1440px){
  :root {
    --padding-page: 150px;
    --header-h: 110px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
    --scroll-features-offset: 100px;
    --max-img-height: 640px;
  }
}

@media screen and (max-width: 992px){
  :root {
    --padding-page: 130px;
    --header-h: 110px;
    --logo-w: 90px;
    --sliceFigure-big: 44px;
  }
}

@media screen and (max-width: 850px) {
  :root {
    --padding-page: 150px;
    --header-h: 100px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
    --scroll-features-offset: 70px;
    --padding-page: 100px;
    --max-img-height: 414px;
  }
}

@media screen and (max-width: 576px){
  :root {
    --header-h: 70px;
    --sliceFigure: 100px;
    --sliceFigure-big: 100px;
  }
}
