$default-font: 'gilroy', sans-serif;
$default-font2: 'Arsenal', sans-serif;

$black: #2a3341;
$red: #e23e28;
$yellow: #efbc48;
$lightRed: #df5e5e;
$grey: #8e837b;
$blue: #0951be;

:root {
  --in: cubic-bezier(0.13, 0.81, 0.23, 0.96);
  --header-h: 180px;
  --page-header-h: 140px;
  --padding-page: 180px;
  --scroll-features-offset: 120px;
  --max-img-height: 862px;
  --preloader-logo: 300px;
}

@media screen and (max-width: 1440px) {
  :root {
    --padding-page: 150px;
    --header-h: 110px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
    --scroll-features-offset: 100px;
    --max-img-height: 640px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    --padding-page: 130px;
    --header-h: 110px;
    --logo-w: 90px;
    --sliceFigure-big: 44px;
  }
}

@media screen and (max-width: 850px) {
  :root {
    --padding-page: 150px;
    --header-h: 100px;
    --logo-w: 120px;
    --sliceFigure-big: 362px;
    --scroll-features-offset: 70px;
    --padding-page: 100px;
    --max-img-height: 414px;
    --page-decor-height: 250px;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --mobile-img-height: 55vh;
    --page-decor-height: 161px;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --header-h: 70px;
    --sliceFigure: 100px;
    --sliceFigure-big: 100px;
    --scroll-features-offset: 32px;
  }
}

@media screen and (max-width: 320px) {
  :root {
    --scroll-features-offset: 30px;
    --mobile-img-height: 340px;
  }
}
