.contacts {
  background-color: #fff;

  .container {
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;

    @media (min-width: 1500px) {
      font-size: 74px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;

    @include to(1150px) {
      grid-template-columns: 0.7fr 1fr;
    }
  }

  &__left {
    padding-top: 50px;

    &-wrap {
      max-width: 350px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;

    @include to(1440px) {
      row-gap: 50px;
    }
  }

  &__item {
    &-title {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 1em;
      font-family: $default-font2;
      color: #8e837b;

      @include to(1440px) {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }

    &-block {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      text-decoration: none;
      color: $black;

      @include to(1440px) {
        margin-bottom: 10px;
      }

      svg {
        fill: none;
        stroke: #2A3341;
        transition: all .4s;
      }

      .link-border-animation::before {
        bottom: -2px;
      }

      &--1 svg {
        width: 13px;
        height: 18px;
      }

      &--2 svg {
        width: 18px;
        height: 18px;
      }

      &--3 {
        align-items: flex-start;

        svg {
          width: 18px;
          height: 18px;
        }
      }

      &:hover {
        .link-border-animation {
          &::before {
            transform: scaleX(1);
          }
        }
      }

      &--link {
        &:hover {
          .contacts__item-icon {
            background-color: $blue;
            border-color: transparent;

            svg {
              stroke: #fff;
            }
          }
        }
      }
    }

    &-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      border: 1px solid rgba(3, 24, 38, 0.2);
      background-color: transparent;
      transition: all .4s;
    }
  }

  &__right {
    border: 1px solid #eceae1;
    padding: 50px 60px;
  }

  &-form {
    &__title {
      margin-bottom: 20px;
    }

    .field-error-msg {
      margin-bottom: 8px;
    }

    .popup__input {
      padding: 15px 30px;
      background-color: #eceae1;

      &--big {
        min-height: 100px;
        resize: none;
      }
    }

    .popup__bottom {
      margin-top: 25px;
    }
  }
}
