.menu {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/menu-bg.jpg') no-repeat center/cover;
    opacity: 0;
    pointer-events: none;
    transition: all .7s;

    &.show {
        opacity: 1;
        pointer-events: initial;
    }
    
    .big-container {
        position: relative;
        padding-left: 50px;
        padding-right: 50px;
    }

    &__header {
        z-index: 10;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding-top: 65px;

        .big-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        

        &-title {
            font-size: 48px;
            line-height: 1em;
            font-family: $default-font2;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            margin-right: 50px;
        }

        .header__popup-btn {
            margin-right: 40px;
        }

        &-center {
            top: -30px;

            .header__logo {
                width: 120px;
                height: 120px;

                img {
                    width: 59px;
                    height: 87px;
                }
            }
        }

        .menu-btn {
            svg {
                stroke: #fff;
                width: 15px;
                height: 15px;
            }
        }
    }

    &__container {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 55px;

        &::-webkit-scrollbar-track {
            background: transparent;
            width: 0;
        }

        &::-webkit-scrollbar {
            width: 0px;
        }

        @include to(1370px) {
            justify-content: flex-start;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 65px;
        }
    }

    &__title {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 1em;
        font-family: $default-font2;
        color: #646C79;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        text-decoration: none;

        &-link {
            margin-bottom: 0;

            &--dark {
                color: #000;
            }
        }
    }

    &__list {
        display: flex;

        .menu__item:not(:last-child) {
            margin-right: 32px;
        }
    }

    &__link {
        position: relative;
        font-size: 12px;
        line-height: 1em;
        letter-spacing: 0.02em;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 1px;
            background: $black;
            transform:  scaleX(0);
            transition: all .4s;
        }

        &:hover::before {
            transform:  scaleX(1);
        }
    }


    &__logo {
        position: absolute;
        bottom: 50px;
        left: 72px;

        img {
            width: 120px;
        }
    }

    &__language {
        position: absolute;
        top: 50%;
        left: 72px;
        transform: translateY(-50%);
    }

    &__container {
        height: calc(100% - 200px);
        margin-top: 200px;

        @include to(1440px) {
            height: calc(100% - 165px);
        }

        @include to(1370px) {
            margin-top: 200px;
            height: calc(100% - 200px)
        }
    }
}