.page-slider {
  position: relative;

  &--correct {
    .page-slider__title {
      margin-bottom: 20px;
    }
  }

  &__title {
    text-transform: uppercase;
    max-width: 870px;
    margin-bottom: 40px;
    font-size: 44px;
    line-height: 1.2em;
    color: $black;

    @include to(1440px) {
      font-size: 42px;
      margin-bottom: 30px;
    }

    @include to(850px) {
      font-size: 26px;
    }
  }

  &__desc {
    max-width: 593px;
    @include page-desc;
    margin-bottom: 50px;
  }

  &__wrap {
    position: relative;
    margin: 0 -10px;
  }

  &__item {
    padding: 0 10px;
    cursor: pointer;
  }

  .swiper-container {
    padding-right: 50px;
  }

  .swiper-wrapper {
    margin: 0 -10px;
  }

  &__controller {
    pointer-events: none;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $black;
    opacity: 0;

    @include to(1025px) {
      display: none !important;
    }

    svg {
      width: 45px;
      height: 42.5px;
      stroke: #fff;
      fill: none;
      transform: rotate(-90deg);
      stroke-width: 1px;
      stroke-width: 0.5px;
      transition: all .4s;
    }

    &.back {
      svg {
        transform: rotate(-270deg);
      }
    }
  }

  img {
    margin-bottom: 20px;
    object-fit: cover;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5em;

    @include to(1440px) {
      font-size: 18px;
    }

    @include to(770px) {
      font-size: 16px;
    }
  }
}
