.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgba($black, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: initial;
  }
}

.popup {
  position: relative;
  background: linear-gradient(135.43deg, #fffdf3 0%, #f0eee3 99.99%);
  padding: 90px 140px;
  max-width: 90%;

  @include to(1200px) {
    padding: 80px 60px;
  }

  @include to(992px) {
    padding: 120px 128px;
  }

  &__title {
    @include to(1100px) {
      font-size: 72px;
    }
  }

  &__close {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    transition: all 0.4s;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
      stroke: #555568;
      transition: all 0.4s;
    }

    &:hover {
      background-color: $blue;

      svg {
        stroke: #fff;
      }
    }

    @include to(1440px) {
      width: 46px;
      height: 46px;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__wrap {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 106px;
    margin-bottom: 50px;

    @include to(992px) {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }

  &__desc {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
    color: #88889d;
    max-width: 310px;

    @media (min-width: 1500px) {
      max-width: 360px;
    }

    @include to(992px) {
      max-width: 400px;
    }
  }

  &__content {
    &-wrap {
      margin-bottom: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 106px;
    }

    &-item {
      &-title {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1em;

        @include to(1440px) {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }

      &-block {
        position: relative;

        svg {
          width: 25px;
          height: 25px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &.warn {
        .field-error-msg {
          opacity: 1;
        }

        .popup__input {
          border-color: $lightRed;
        }
      }
    }
  }

  &__input {
    width: 100%;
    background-color: #fff;
    padding: 26px 40px;
    border: none;
    color: $black;
    transition: all 0.4s;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      border-color: $blue;
    }

    &::-webkit-input-placeholder {
      color: $black;
    }

    &::-moz-placeholder {
      color: $black;
    }

    &::-ms-placeholder {
      color: $black;
    }

    &::placeholder {
      color: $black;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-left {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 1em;
      color: #88889d;

      @include to(1440px) {
        font-size: 14px;
      }

      @include to(850px) {
        font-size: 10px;
      }

      svg {
        width: 25px;
        height: 25px;
        margin-right: 15px;
      }
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1em;
    font-family: $default-font2;
    text-transform: uppercase;
    color: $black;
    border: none;
    background-color: transparent;

    @include to(770px) {
      font-size: 16px;
    }

    .btn {
      margin-right: 20px;
      width: 100px;
      height: 100px;

      @include to(850px) {
        width: 75px;
        height: 75px;
      }

      @include to(770px) {
        width: 60px;
        height: 60px;
      }

      svg {
        width: 31px;
        height: 34px;

        @include to(850px) {
          width: 24px;
          height: 24px;
        }

        @include to(770px) {
          width: 21px;
          height: 21px;
        }
      }
    }

    &-text {
      &::before {
        transform: scaleX(1);
        background-color: $red;
      }
    }

    &:hover {
      .btn {
        background-color: $blue;
      }

      .popup__submit-text::before {
        transform: scaleX(0);
      }
    }
  }
}
